[2020-06-15 16:46] ciozi137 opened #1 "Build package with LabVIEW 2020"

[2020-06-15 16:46] ciozi137 opened #2 "Build EXE and Installer"

[2020-06-15 18:52] ciozi137 commented on #2
v8.5+

[2020-06-15 18:52] #2 closed

[2020-06-15 18:53] ciozi137 commented on #1
v8.4.1+

[2020-06-15 18:53] #1 closed

[2020-06-15 18:58] ciozi137 opened #3 "Change startup read image paths"
When the software starts it tries to load files according to preset front panel controls. If the file is not present the software halts. We need to change the way the files are defined (configuration file?) and give user opportunity to choose the file before crashing. Even though we now have an exe version (https://github.com/levylabpitt/AFM-Lithography/releases/latest) it is useless because of th

[2020-06-15 19:39] Monkeymerlot commented on #3
This is probably what I would do:
![image](https://user-images.githubusercontent.com/37567672/84698763-5f3e0080-af1e-11ea-9a76-e35998186ab0.png)
If it exists, then just use that path.

[2020-06-15 21:04] ciozi137 commented on #3
looks good

[2020-06-15 21:05] ciozi137 commented on #3
What about adding a button called "load files"? That way the user can reload files...or choose when at startup to load the files.

[2020-06-16 00:58] Monkeymerlot commented on #3
I think that the refresh button does what you are talking about. Can you elaborate a bit on what you had in mind?

[2020-06-16 01:02] ciozi137 commented on #3
Yes I checked it earlier and the refresh button does load the files. I think adding your check before the files are loaded would be good. That way we can avoid the error pop ups. And maybe add a green light on the front panel indicating when the files are loaded?

[2020-06-16 15:08] Monkeymerlot commented on #3
Would this green light occur before or after parsing?

[2020-06-16 17:16] ciozi137 commented on #3
@Monkeymerlot I added your changes into my working copy. It looks good except the file check is returning "true" even for the path "c:\". I will keep looking at it.

Regarding the green light I was thinking after parsing...but it looks like the "ready" light already accomplishes this.

[2020-06-16 17:23] ciozi137 commented on #3
![image](https://user-images.githubusercontent.com/26659428/84806948-80612880-afd4-11ea-9044-5608e29246ed.png)

[2020-06-16 17:42] ciozi137 opened #5 "Add save/load front panel configuration"
- Front panel controls (**particularly file paths**) should be saved/loaded to config file
- Use Configuration read/write from Instrument Framework class
- C:\ProgramData\Levylab\AFM Lithography\config.ini

[2020-06-16 17:53] ciozi137 opened #6 "Application Errors"
![image](https://user-images.githubusercontent.com/26659428/84809935-a12b7d00-afd8-11ea-9e94-ac0dddc03d50.png)

![image](https://user-images.githubusercontent.com/26659428/84809958-aab4e500-afd8-11ea-809b-f70369544fc6.png)

![image](https://user-images.githubusercontent.com/26659428/84809976-b0aac600-afd8-11ea-878c-f53d48f0ae69.png)

[2020-06-16 18:30] Monkeymerlot commented on #3
We could also just check their extensions and make sure that they are the correct file type...

[2020-06-16 18:33] ciozi137 commented on #3
agree...we can also do this

[2020-06-16 18:42] ciozi137 opened #7 "Application Errors 2"
![image](https://user-images.githubusercontent.com/26659428/84814391-6e38b780-afdf-11ea-9440-69ebc77c4803.png)

![image](https://user-images.githubusercontent.com/26659428/84814451-890b2c00-afdf-11ea-8de5-23b0e97eeabb.png)

@Monkeymerlot Do we need to write surfacepic.jpg in background.vi?

[2020-06-17 14:01] ciozi137 commented on #7
I think issue is missing folder. Write JPEG will create the jpeg file, but it won't create the entire path. Add changed path to C:\ProgramData and added create directory chain:

![image](https://user-images.githubusercontent.com/26659428/84907696-83662280-b081-11ea-8ac6-1af36a72414b.png)

[2020-06-17 15:43] ciozi137 opened #8 "Application Errors 3"
![image](https://user-images.githubusercontent.com/26659428/84919275-badbcb80-b08f-11ea-8810-8acbe1672c5a.png)

[2020-06-17 15:48] ciozi137 commented on #7
fixed in v8.5.3.9

[2020-06-17 15:49] #8 closed

[2020-06-17 15:49] Monkeymerlot commented on #7
Yes. This is over writing the background image in the inkscape file.
[code]
So our inkscape files will need to change...

[2020-06-17 15:51] Monkeymerlot commented on #7
We should make a conversion utility for Inkscape files, or automatically change them using the program.

[2020-06-17 16:34] ciozi137 commented on #7
Is that a "real" path or just referring to somewhere inside the inkscape
file?

On Wed, Jun 17, 2020 at 12:24 PM Joseph <notifications@github.com> wrote:

[2020-06-17 16:37] Monkeymerlot commented on #7
That is a "real" path. It is a linked file path telling inkscape where to look for the image.

[2020-06-17 16:38] Monkeymerlot commented on #7
By changing the image located at that file path, we were changing the image shown in the lithography file.

[2020-06-17 16:44] ciozi137 commented on #7
Oh..so the image isn't embedded in the inkscape file?

On Wed, Jun 17, 2020 at 12:40 PM Joseph <notifications@github.com> wrote:

[2020-06-17 16:47] Monkeymerlot commented on #7
That is correct. Its linked. See this [link](http://libregraphicsworld.org/blog/entry/inkscape-embedding-or-linking) for what it looks like under the hood.

[2020-06-17 18:02] ciozi137 commented on #7
OK I reverted to C:\afm\surfacepic.jpg but kept the create folder chain

[2020-06-17 18:12] #7 closed

[2020-06-17 18:13] ciozi137 commented on #6
first issue is 3D something. For now I disabled. The other issues are paths and they are "fixed" as of v8.5.5.11

[2020-06-17 18:13] #6 closed

[2020-06-17 18:15] ciozi137 opened #9 "3D functions in exe"

[2020-06-17 18:15] ciozi137 opened #10 "Cannot browse directory structure in EXE"

[2020-06-17 18:21] ciozi137 opened #11 "exe cannot write surfacepic.jpg"

[2020-06-17 19:03] Monkeymerlot commented on #10
Can you elaborate on what this bug is?

[2020-06-17 19:51] ciozi137 opened #12 "Do we need these VIs?"
![image](https://user-images.githubusercontent.com/26659428/84943353-3fd7dc80-b0b2-11ea-814a-7a98aa66e9b9.png)

They have no callers

[2020-06-17 19:52] #11 closed

[2020-06-17 19:56] ciozi137 commented on #10
@Monkeymerlot:
![image](https://user-images.githubusercontent.com/26659428/84943890-0bb0eb80-b0b3-11ea-84c9-b74ea96db4ec.png)

[2020-06-17 20:10] Monkeymerlot commented on #10
I dont think the problem is with list folder but rather how the structure laid out. Here is an exe I made with list folder that just reads stuff from my desktop. I had to modify the incoming path though.
![image](https://user-images.githubusercontent.com/37567672/84945018-b4137f80-b0b4-11ea-881f-bd5fac4832e0.png)
and here is the block diagram before building:
![image](https://user-images.githubuse

[2020-06-17 20:12] ciozi137 commented on #10
The issue is if you try to browse inside the exe
Basically there is a VI at Main.exe\AFM\etc, but List folder can't browse inside the exe

[2020-06-17 20:19] ciozi137 commented on #10
Maybe I am not stripping the path sufficiently:
![image](https://user-images.githubusercontent.com/26659428/84946156-3e101800-b0b6-11ea-8b0d-a0a4d9ba4a4a.png)
https://knowledge.ni.com/KnowledgeArticleDetails?id=kA00Z0000019NFfSAM&l=en-US

[2020-06-17 20:37] ciozi137 commented on #10
Nope that didn't fix. Here's 6 minute video.

https://drive.google.com/file/d/1vp_MMwOWamzLyCpVq68ZFK_hmi8md1NE/view?usp=drivesdk

[2020-06-18 02:44] Monkeymerlot commented on #12
Neither of them have anything on their connector panes:
![image](https://user-images.githubusercontent.com/37567672/84971991-eee4da00-b0eb-11ea-9c53-75c7af89cd99.png)
![image](https://user-images.githubusercontent.com/37567672/84972010-f7d5ab80-b0eb-11ea-923e-df491b4b98ba.png)
To be honest they look like someone created them when they were debugging and forgot to delete them. I will see if I can s

[2020-06-18 02:50] Monkeymerlot commented on #12
It seemed to work fine without them so I removed them.

[2020-06-18 02:50] #12 closed

[2020-06-18 19:17] ciozi137 commented on #10
https://forums.ni.com/t5/LabVIEW/Getting-vi-directory-list-from-LabVIEW-executable-internally/td-p/3601722?profile.language=en

"The best option so far, is as I mentioned to run a pre-build VI that looks at the relative paths to the project, writes that to a file, and then when the EXE runs, use this information and hope that the relative path from source to project, is the same from VI to EXE."

[2020-06-18 19:19] #3 closed

[2020-06-18 20:12] ciozi137 opened #13 "Bevier.vi vs Bezier Curve.vi?"
![image](https://user-images.githubusercontent.com/26659428/85067280-6b27fd80-b17e-11ea-8148-ab9d1a99d80f.png)

[2020-06-18 20:16] ciozi137 opened #14 "Rename Main_v4.vi"
Main.vi?
Lithography.vi?
AFM-Lithography.vi?
General-AFM-Lithography.vi?

[2020-06-18 20:16] ciozi137 opened #15 "UI: Use JKI 2.0 controls?"

[2020-06-18 20:22] ciozi137 opened #16 "Refactor into classes/SMOs"
first draft:
- inherit from Instrument.lvclass
- classes OR SMOs:
  - parse (+ toolpath?)
  - driver (HAL!)
  - UI/subpanels
  - image
  - 3D

[2020-06-18 20:24] ciozi137 commented on #15
might not be worth pursuing until other refactor, #16

[2020-06-18 20:41] Monkeymerlot commented on #13
I think I added a bookmark talking about this. Ill take a look and figure out the difference and callers, and probably replace one of them tonight. I also want to get rid of the math node and replace it with native LabVIEW.

[2020-06-18 20:47] ciozi137 commented on #13
Uh yes I saw your bookmark later on

On Thu, Jun 18, 2020 at 4:41 PM Joseph <notifications@github.com> wrote:

[2020-06-18 21:22] Monkeymerlot commented on #14
I think this is dependent of the scope of this program in the future. Do we want to use it with ebeam lithography in the future?

[2020-06-18 21:41] ciozi137 commented on #14
Uh, probably won't be used with EBL. Right now we have SVG --> AFM
What I envision for the future is:
GDSII --> EBL via Zeiss/Raith software
GDSII --> AFM via "Lithography.vi"

[2020-06-18 22:47] Monkeymerlot opened #17 "Is the Data Queue Necessary?"
Throughout the program there is a lithography data queue that I am fairly positive that isnt used for anything. I want to check to see if it is actually used, and if not I will remove it from the program.
![image](https://user-images.githubusercontent.com/37567672/85077097-83ecdf00-b18f-11ea-8603-49adb8cd03e1.png)

[2020-06-18 22:52] Monkeymerlot commented on #13
Bezier Curve.vi
Callers: Funnel Path Points
Connector Pane:
![image](https://user-images.githubusercontent.com/37567672/85079436-d54b9d00-b194-11ea-8fd1-fd07e11162e7.png)

Bezier.vi
Callers: Path to Commands.vi, Path Points.vi
Connector Pane:
![image](https://user-images.githubusercontent.com/37567672/85079410-bfd67300-b194-11ea-81ed-132fc0fae750.png)

[2020-06-18 23:11] Monkeymerlot commented on #13
The block diagrams are also identical. I removed and replaced Bezier Curve.vi with Bezier.vi

[2020-06-18 23:11] #13 closed

[2020-06-18 23:13] Monkeymerlot commented on #14
Ok. In that case Im going to change the shown name to AFM lithography.

[2020-06-18 23:14] Monkeymerlot commented on #14
It seems that its already named general afm lithography:
![image](https://user-images.githubusercontent.com/37567672/85080688-e2b65680-b197-11ea-8e90-73ccd91794c8.png)
Does this hold for an exe?

[2020-06-18 23:15] Monkeymerlot commented on #15
Ive had some issues with the JKI Design Palette causing a LabVIEW crash, so I would rather we hold off on adding that as a dependency until this issue is fixed.

[2020-06-18 23:20] ciozi137 commented on #17
I’ll look into it. There was one subVI, maybe the sub panel one that had the data cluster going in. I fixed that problem but I’m pretty sure the queue was left. That being said I’m not sure if anything is ever putting stuff onto the queue. Furthermore, data structures like this should all go away in favor of SMOs and events...

[2020-06-18 23:24] ciozi137 commented on #14
I think the main_v4 should at least be named main.vi. I think “_v4” is dumb. But something like AFM_Lithography.vi is even better. I can rename the exe to match

[2020-06-18 23:26] Monkeymerlot commented on #14
Ok. Do you want to do that now, or I can rename it?

[2020-06-18 23:26] ciozi137 commented on #15
I had that issue before but then it went away. Maybe uninstall and reinstall? Idk. I use them with the lockin and don’t have too many issues

[2020-06-18 23:27] ciozi137 commented on #14
You can rename if you’re working on it. I’m cooking dinner

[2020-06-18 23:28] Monkeymerlot commented on #14
Ok perfect. I just didnt want to lose any changes I made.

[2020-06-18 23:30] Monkeymerlot commented on #14
Changed to AFM_Lithography.vi

[2020-06-18 23:30] #14 closed

[2020-06-18 23:45] Monkeymerlot commented on #17
I agree. But before we use SMOs I think we need to cut this program down to the bare minimum ie get rid of these structures so we can figure out what we are working with. I am thinking of a few ways to refactor this and will comment shortly in Issue #16 on some options I thought of.

[2020-06-18 23:52] ciozi137 commented on #17
Yes agree about removing cruft

On Thu, Jun 18, 2020 at 7:46 PM Joseph <notifications@github.com> wrote:

[2020-06-19 00:03] Monkeymerlot commented on #16
Do we want start from scratch with a brand new architecture and as we build new parts of the architecture also work them into the old, or just try and work them into the old?

I think (and I might be wrong about this) but the first option gives us the most flexibility while still improving existing software. Then we can have a minimum viable product with the architecture that isnt pieced together,

[2020-06-19 00:15] ciozi137 commented on #16
@Monkeymerlot food for thought:

https://www.joelonsoftware.com/2000/04/06/things-you-should-never-do-part-i/

[2020-06-19 00:22] Monkeymerlot commented on #16
I read that years ago and honestly it kept going through my head when writing that! I couldnt find it again. The same thing idea is also written by Robert Martin (One of the original signatories of the Agile Manifesto) in that this is probably a mistake as well. However, I think that writing a new architecture from scratch is different from starting a program from scratch. I think what the way I w

[2020-06-19 00:43] ciozi137 commented on #16
We do have an architecture already though: instrument.lvclass/smo. I’m a
fan of a hybrid approach of compartmentalizing the code and converting each
compartment to the new architecture. So more or less the ones I outlined
above, and converting each one separately to the new architecture will
allow us to keep existing code while simultaneously improving it. And I
agree with your comment elsewhere t

[2020-06-19 01:09] Monkeymerlot commented on #16
SMOs are a messaging framework. The instrument.lvclass is additional tools + extras that add onto that framework. What I mean by architecture is this:
![image](https://user-images.githubusercontent.com/37567672/85086184-de923500-b1a7-11ea-8e8f-ca81cd5b21d3.png)
Which would probably have an architecture like this:
![image](https://user-images.githubusercontent.com/37567672/85086241-0386a800-b1a8-11

[2020-06-19 01:22] ciozi137 commented on #16
This looks good. This might be tricky to manage, but I'm thinking we can have a "new architecture" branch AND develop Parse, UI, etc submodules simultaneously that can be merged with existing production branch sooner before "new architecture" is ready

[2020-06-19 01:25] Monkeymerlot commented on #16
Adding new features might look like this:
![image](https://user-images.githubusercontent.com/37567672/85086990-37fb6380-b1aa-11ea-8792-6d12b21fdaab.png)

[2020-06-19 01:26] Monkeymerlot commented on #16
I think that is ideal, or they are developed as separate projects in the master branch?

[2020-06-19 01:30] Monkeymerlot commented on #17
The SubVIs that use it are the Acquired data subpanels. I have never used this VI/feature though and I dont think the elements ever get dequeued?

[2020-06-19 01:33] ciozi137 commented on #17
I don’t think it is used. It was an idea that never saw fruition I think. I
think it’s best to remove and reimplement in new architecture with smos

On Thu, Jun 18, 2020 at 9:30 PM Joseph <notifications@github.com> wrote:

[2020-06-19 01:44] Monkeymerlot commented on #17
Ok Im going to go ahead and remove the Acquired Data Subpanels, and the data queue from everything.

[2020-06-19 03:00] Monkeymerlot commented on #17
Should be removed completely now. Also do you know if we use the 2D and 3D stuff? I know that "Render" is used but I am unsure of the other 2

[2020-06-19 03:06] ciozi137 commented on #17
Idk. Maybe @aditi-nethwewala or @Yh-lab  can comment

[2020-06-19 03:14] Monkeymerlot opened #18 "IMAQ Control for Front Panel"
The IMAQ control is pretty ugly. I don't think that we actually need one, but I think that it would be wise to ask if anyone uses any of the IMAQ features. If not, or if they use things like the zoom feature (which is easily made in native LabVIEW), then I think that we should replace it with a picture control. It looks  a lot better and removes a distracting side bar that we (probably) don't use.

[2020-06-19 03:25] Monkeymerlot opened #19 "Image related bug when switching AFMs, changing to new files etc."
The bug occurs in "IMAQ to LV Image.vi", which is called in the "Litho Refresh Render" state:
![image](https://user-images.githubusercontent.com/37567672/85093606-c0820000-b1ba-11ea-863b-730507421b26.png)
We don't see this bug when this state is called in Macro: Initialize, so I think it has something to do with switching data when the reference exists?
![image](https://user-images.githubuserconte

[2020-06-19 12:19] aditi-nethwewala commented on #17
I will have a look at it today and check, but I think @Yh-lab might have better idea

[2020-06-19 12:59] ciozi137 commented on #18
## IMAQ Control features:
![image](https://user-images.githubusercontent.com/26659428/85134007-c81cc580-b209-11ea-80b5-dce92189fe99.png)
https://knowledge.ni.com/KnowledgeArticleDetails?id=kA00Z000000P7klSAC&l=en-US

## _IF_ we need the toolbar we can make it look nicer:
### Image Display (Classic) with Transparent Borders:
![image](https://user-images.githubusercontent.com/26659428/85134446-85a7b

[2020-06-19 13:04] ciozi137 opened #20 "IMAQ Control Poll"
Do you use any of the IMAQ control features shown here:
![image](https://user-images.githubusercontent.com/26659428/85135164-ad4b5080-b20b-11ea-922f-77c83042bb35.png)
In particular, any of these tools on the toolbar:
![image](https://user-images.githubusercontent.com/26659428/85135215-c6540180-b20b-11ea-977d-5e715f99fa92.png)

/polls "Yes" "No" "I don't know"

[2020-06-19 13:13] ciozi137 commented on #20
/polls "Yes" "No" "I don't know"

[2020-06-19 13:13] ciozi137 opened #21 "test"
/polls "Yes" "No" "I don't know"

[2020-06-19 13:14] ciozi137 commented on #21
- [ ]

[2020-06-19 13:15] #21 closed

[2020-06-19 14:37] ymq526 commented on #20
Zoom and pan

[2020-06-19 15:46] Nina-YDY commented on #20
Yes, tools, image, scrollbars, cursor. Tools: zoom and pan.

[2020-06-19 17:21] johnbrickmaier commented on #20
scrollbars, zoom, and pan

[2020-06-19 18:21] aditi-nethwewala commented on #20
tools: zoom,selection, pan, point
image
cursor

[2020-06-19 18:33] aditi-nethwewala commented on #17
I am not sure if you are asking about data queue or 2D/3D stuff. I have never used the Feedback 2D/3D View feature on front panel and I don't think anyone does currently. I went through the block diagram for data queue thing. Though it is implemented in several places, I am not sure if it is doing anything

[2020-06-19 18:43] Monkeymerlot commented on #18
What about JKI Flat UI 2.0 + IMAQ:
![image](https://user-images.githubusercontent.com/37567672/85170302-2e6e0c00-b23b-11ea-9448-3fbeae19cf29.png)

[2020-06-19 18:51] Monkeymerlot commented on #17
I was asking about the 2D/3D stuff. We figured out the queue already (that feature was never implemented). And if we dont use it I am going to remove that functionality (we are currently trimming the fat off of this program so we can start to re-architect and add new features)

[2020-06-19 19:00] Monkeymerlot commented on #19
It is because of the disable diagram structure in the timeout case:
![image](https://user-images.githubusercontent.com/37567672/85171635-60806d80-b23d-11ea-953d-7b01f2d8877f.png)
which was writing a null value to the reference. The key was that it did not happen during macro initialize. We are going to get rid of the 2D feedback feature, so this wont be a problem anymore...

[2020-06-19 19:00] #19 closed

[2020-06-19 19:07] Monkeymerlot commented on #17
Removed unused 2D and 3D feedback functionality in commit e246184

[2020-06-19 19:07] #17 closed

[2020-06-19 19:37] Monkeymerlot opened #22 "Funnels arent being separated from Paths"
These funnels have the necessary requirements (two curves, a straight line, and last point being same as first point) yet they are not being caught:

![image](https://user-images.githubusercontent.com/37567672/85173195-a7239700-b240-11ea-90d0-17d61dc326cc.png)
![image](https://user-images.githubusercontent.com/37567672/85173231-b9053a00-b240-11ea-8781-b67d8fd80eb5.png)

An example of a funnel's XM

[2020-06-19 21:26] Monkeymerlot commented on #22
In classic AFM_Lithography program fashion, I fixed this but it revealed a bigger error?
Fix:

[2020-06-19 22:01] Monkeymerlot commented on #22
This issue starts in funnel path points.vi, seems to be an issue with interpolation.

[2020-06-19 22:05] Monkeymerlot commented on #22
I think that the issues is that they might have specified a specific order that the lines vs curves had to be in? I am going to try and redo the interpolate points (distance) or replace it with something else.

[2020-06-19 22:24] Monkeymerlot commented on #22
Fixed it. It was interpolating the using distance when it needed to be interpolating using number of points.

[2020-06-19 22:26] Monkeymerlot commented on #22
Fixed:
![image](https://user-images.githubusercontent.com/37567672/85183620-5882f680-b25a-11ea-905c-be9c7de4bf49.png)
The funnels are sideways but I will make that another issue.

[2020-06-19 23:05] #22 closed

[2020-06-19 23:17] Monkeymerlot commented on #15
What I got so far.
![image](https://user-images.githubusercontent.com/37567672/85184975-02b14d00-b260-11ea-8932-6e7ad3b0a056.png)
I think the next step in terms of UIs is to decouple the front end from the microscope drivers. For example, the run button doesnt actually do anything on the AFM_Lithography VI. It is solely being read (via a reference) in the AFM Drivers.

I have a lot of work done in

[2020-06-19 23:54] Monkeymerlot commented on #9
I removed these from the program, so this isnt really an issue anymore.

[2020-06-19 23:54] #9 closed

[2020-06-20 01:16] Monkeymerlot commented on #20
Thanks everyone for your replies!

[2020-06-20 01:16] #20 closed

[2020-06-20 01:20] ciozi137 commented on #15
Looking good

On Fri, Jun 19, 2020 at 7:17 PM Joseph <notifications@github.com> wrote:

[2020-06-20 01:24] Monkeymerlot commented on #15
Fixed some spacing issues, added a background:
![image](https://user-images.githubusercontent.com/37567672/85188245-36e23900-b273-11ea-8bb7-f980dc11f0d3.png)

[2020-06-20 01:27] ciozi137 commented on #15
I would suggest same style buttons for run and stop as the help etc. also
continue with 2.0 for other controls like paths and time. Basically all.
Idk what kind of control the pattern drag and drop is

On Fri, Jun 19, 2020 at 9:24 PM Joseph <notifications@github.com> wrote:

[2020-06-20 01:35] Monkeymerlot commented on #15
You mean just icons? I put them as big because I thought that they should be larger since they are more important, but I think that a uniform bar would also be nice.
The patterns is a system listbox (I replaced it yesterday I think) and they are about as nice as it gets. I can make the text bigger though and add some pizzazz to it in the future.
The time will have to be a string indicator since th

[2020-06-20 02:03] ciozi137 commented on #15
Yeah I was thinking just icons. And we can add the mouse-over help (I
forget what it’s called)

String indicator is good for the time

On Fri, Jun 19, 2020 at 9:35 PM Joseph <notifications@github.com> wrote:

[2020-06-20 02:10] Monkeymerlot commented on #15
Tip strip is the word you are looking for. And sounds good.

[2020-06-20 04:06] Monkeymerlot opened #23 "Funnels are sideways"
As mentioned in issue #22, fixing the fact that funnels werent being recognized caused the funnels to have some wierd behavior in tooling. This was due to interpolation. Once fixed, it seemed that there was then issues with the funnels being tooled sideways:
![image](https://user-images.githubusercontent.com/37567672/85190746-6ef47680-b289-11ea-9a63-1206b19eb31f.png)
However, this was because it w

[2020-06-20 04:07] #23 closed

[2020-06-20 04:08] Monkeymerlot commented on #18
After a poll, it seems the IMAQ control with reduced functionality as shown above is still needed. This is the current iteration:
![image](https://user-images.githubusercontent.com/37567672/85190830-2093a780-b28a-11ea-843a-89a22efa3151.png)

[2020-06-20 04:08] #18 closed

[2020-06-20 11:21] ciozi137 commented on #19
oops. thanks for fixing @Monkeymerlot

[2020-06-20 14:47] Monkeymerlot commented on #19
@ciozi137 I only recognized it because I once spent 2 days trying to debug an SMO whose class references turned to null going through a disable diagram structure. I might make a VI Analyzer plugin to detect this issue.

[2020-06-20 16:37] Monkeymerlot commented on #16
I think that the parsing is a good place to start for classes because there are a lot of similar objects that are just different enough that they can really utilize inheritance and this would make a good exercise of a factory pattern.
![image](https://user-images.githubusercontent.com/37567672/85206820-a0edf300-b2f2-11ea-94ca-9f57a8fa6ed1.png)
https://www.w3.org/TR/SVG11/paths.html#PathDataClosePa

[2020-06-22 18:45] Monkeymerlot opened #24 "Use Variant Attributes + Enum to Capture Voltage/Speed Schedule"
Currently, we have these huge monster clusters that make it very difficult to work with the program.  Here is a picture of it:
![image](https://user-images.githubusercontent.com/37567672/85323039-535dbb80-b495-11ea-9361-912ea19ae050.png)
To make matters worse, only a small section of these clusters can be used, as they are different options. For example, if you have a constant voltage for a sectio

[2020-06-22 20:18] Monkeymerlot opened #25 "Use Refactored Asylum Driver"
Previously I refactored a driver for the Asylum microscopes (MFP-3D and Cypher). There are only a few things that I need to do to finish this driver, and then I think it can be a replacement. I also want to redo the way that we call drivers and swap them. Here are the main things that I see that are bad practices and I should change when adding the new driver.

First, is that we send information b

[2020-06-23 00:36] Monkeymerlot commented on #25
Going to use a Driver Management class.
Here is the start up routine:
![image](https://user-images.githubusercontent.com/37567672/85347672-3fcb4880-b4c7-11ea-81a8-a18de9f7e777.png)
It takes an array of paths to the drivers, and for each one it will start them, and initialize a cluster of events created for each driver. I initially wanted to do call by reference, but this wasnt possible as we dont

[2020-06-23 02:43] Monkeymerlot commented on #25
Shut down flow:
![image](https://user-images.githubusercontent.com/37567672/85354753-45ca2500-b4d9-11ea-9755-c8c4a80225c8.png)
Send Stop Event to all drivers
![image](https://user-images.githubusercontent.com/37567672/85354798-57abc800-b4d9-11ea-8ea3-5fa6f87a6b8b.png)
Give them one second to stop:
If they stop in one second: Do nothing
If they don't stop in time: Consider them hanging, abort them:

[2020-06-23 03:15] Monkeymerlot commented on #25
Added functionality to embed into a subpanel:
![image](https://user-images.githubusercontent.com/37567672/85356924-34374c00-b4de-11ea-975a-c277d8eeb91d.png)
And I envision its usage like so:
![image](https://user-images.githubusercontent.com/37567672/85356854-07833480-b4de-11ea-83e3-fb029a6a1a1a.png)

[2020-06-23 23:43] Monkeymerlot opened #27 "Template for New Drivers"
We should make a template for new drivers for different AFMs that is compatible with the AFM_Driver_Manager class.

[2020-06-24 01:04] Monkeymerlot opened #28 "IMAQ Flicker on Update"
IMAQ is by reference, so if you change things using that reference, it will update in real time. This can cause some flicker. See this gif: (edit: you cant see flicker in gif because frame rate is too low, so I removed it)

There are a few ways to resolve this issue. First, is by delaying front panel updates until the entire operation is done. Second, is making a copy of the reference using IMAQ C

[2020-06-27 12:45] ciozi137 commented on #27
Do you mean a literal .vit template?

[2020-06-27 12:47] ciozi137 commented on #24
@Monkeymerlot I think this is an interesting idea. The problem I have is that the attribute data isn’t as well-defined as a cluster is. Perhaps we can have a cluster typedef define the attribute data?

[2020-06-27 12:48] ciozi137 commented on #24
Another option is to add more structure to the cluster by adding sub-clusters and so on

[2020-06-27 12:50] ciozi137 commented on #15
@Monkeymerlot i think we can close this issue?

[2020-06-27 12:53] ciozi137 commented on #10
@Monkeymerlot is there really a need to have the program “search” for the available drivers? I think that the ring control can be pre-populated with all of the AFMs that the lithography program supports. Actually choosing which afm can be automated somehow, e.g. looking at the computer name it is running on or just reading from the configuration file on the computer.

[2020-06-27 12:54] ciozi137 commented on #5
@edanalpern any progress on this? Do you want to discuss sometime?

[2020-06-27 12:57] ciozi137 commented on #16
@Monkeymerlot re: what you showed yesterday, how will that fit into an SMO architecture? Does the AFM_driver need to be converted to an SMO? Or will there be an SMO that calls the driver?

Since the driver part of the existing program is already a process that is called asynchronously I think it is also an ideal place to replace with an SMO (in addition to the parse library that you mentioned)

[2020-06-27 13:00] ciozi137 commented on #28
Are you saying that even if the image is updated in an “UI: update” state it will still have flicker, because the imaq image is updated by ref?
Delaying front panel updates blight be a good way to go. Would that be driven by the timeout frame?

[2020-06-28 00:43] Monkeymerlot commented on #28
I think the reason it flickers is because we write the background image, then the overlay.
So it goes Image + overlay ->image->image + overlay.
I did some investigating and I think that it would just be best to create a new reference, work with that, then write it to the imaq indicator, and then close the original reference.

[2020-06-28 00:44] Monkeymerlot commented on #27
Yeah with a JKI State Machine, and event cases for all of the events + a uniform background color etc and the event cluster on the front panel with the proper name. Once I get the asylum VIs working I want to start adding things like the nanosurf etc.

[2020-06-28 00:48] Monkeymerlot commented on #24
I like the idea of the cluster typedef defining the attribute data. This will also make a smoother transition when it comes time for us to move this over to an Object Oriented architecture. And I think the problem I have with it currently is not a matter of structure but rather that we have a data type that "varies" depending on the settings. I guess it just makes sense that we could utilize a var

[2020-06-28 00:49] Monkeymerlot commented on #15
I still need to do the path, rectangle and funnel properties subpanels transition to JKI Flat UI 2.0 controls. Other than that most things are transitioned over.

[2020-06-28 00:55] Monkeymerlot commented on #10
I like the configuration file idea. This would also provide us (developers) a way to develop everything as well as choosing an individual AFM for a computer in the lab. The computer name is probably not a good idea because that ties this software directly to specific computers unless I am misunderstanding what you mean by that. I do agree though that there is really no reason for us to have a ring

[2020-06-28 02:54] ciozi137 commented on #10
I was just imagining a way for the program (exe) to automatically configure
itself for the type of afm attached to the computer. A configuration file
in the appropriate place (c\programdata) would be fine because it only
needs to be configured once. Updating the exe does not overwrite the config
file

On Sat, Jun 27, 2020 at 8:56 PM Joseph <notifications@github.com> wrote:

[2020-06-29 00:45] Monkeymerlot commented on #16
@ciozi137 I designed the AFM_Driver_Manager architecture to allow for a relatively painless conversion into SMOs. The idea is that the driver will be an SMO based on an AFM HAL that uses the Instrument Framework in the future. The AFM_Driver_Manager is a bridge to this conversion basically. We badly needed to change the way that we stop the AFM drivers, and I wanted to switch over to an event base

[2020-06-29 00:49] Monkeymerlot commented on #25
Added steps that are performed after each object is performed. It will write the tip voltage to be zero, and then will move the tip upwards.
![image](https://user-images.githubusercontent.com/37567672/85962826-c331e180-b980-11ea-89a8-091488052533.png)

[2020-06-29 01:21] Monkeymerlot commented on #25
Investigation of the lithography program has revealed that the data is sent to the drivers in units of um. To do otherwise would require a significant overhaul in the program it seems.
So here it writes the inkscape ratio:
![image](https://user-images.githubusercontent.com/37567672/85963739-13ab3e00-b985-11ea-9f51-ef80f3ca7622.png)
If the size of the image is greater than 100x100 (ie 100x100 um) t

[2020-06-29 01:22] Monkeymerlot commented on #25
The timing seems to be 50 kHz in the old driver, so I think that its ok to use that value in the new driver as well.
![image](https://user-images.githubusercontent.com/37567672/85963846-80263d00-b985-11ea-9816-8cefcece590d.png)

[2020-06-29 12:59] edanalpern commented on #5
@ciozi137 No and yes! Haven't looked at it since you created the task....

Is there an existing config file?  Or is the idea to create one and save it in the directory you listed?

What is instrument framework class?

[2020-06-29 13:02] ciozi137 commented on #5
Let's talk about this later this morning. 10am?

On Mon, Jun 29, 2020 at 8:59 AM edanalpern <notifications@github.com> wrote:

[2020-06-29 13:05] edanalpern commented on #5
Our Solid state reading group meets then. 11:30am or anytime after, I am available. How's 11:30am?

[2020-06-29 13:19] ciozi137 commented on #5
Ok 11:30

[2020-06-29 14:19] Monkeymerlot commented on #10
Just thought of this: what about using the file extension for the background image to set the afm type. Eg nid --> Nanosurf, ibw --> Asylum. There is some issues eith this like multiple Nanosurf AFMs with different active x references all use nid files, but it is just a thought.

[2020-06-29 19:29] ciozi137 opened #29 "Why factor of 50000?"
MFP3D XPT Schematic shows 100kHz DACs:
![image](https://user-images.githubusercontent.com/26659428/86047328-b9f65280-ba1c-11ea-9bec-3b7260ec0f1c.png)

Other documentation (https://mmrc.caltech.edu/Asylum/Manuals/Asylum%20MRP-3D%20manual.pdf) mentions 52 kHz LPF on User OutA and OutB:

"User DACs:  OutA, OutB, and OutC Each of the three User DAC channels originates at a 24-bit 100kHz User DAC and t

[2020-06-29 23:32] Monkeymerlot commented on #25
Abort functionality:
## Driver:
In Litho Objects:
![image](https://user-images.githubusercontent.com/37567672/86065521-d060d600-ba3d-11ea-8489-79221b3e89e7.png)
Normally we would have used OpenG Wait (ms), but instead we wait with abort in Litho Object Points:
![image](https://user-images.githubusercontent.com/37567672/86065561-e5d60000-ba3d-11ea-91be-858fca4b7d06.png)
And if Abort Notifier is Tru

[2020-06-30 14:45] Yh-lab commented on #29
As far as I can remember it is inside the documentation of Asylum program. I will try to find it.

[2020-06-30 17:04] Monkeymerlot commented on #15
Sneak peak at custom made JKI Flat 2.0 Themed controls that are small so we can fit them on these subpanels:
![image](https://user-images.githubusercontent.com/37567672/86155164-094a8a80-bad2-11ea-9700-91c58c01aa1e.png)

This replacement will be somewhat more involved than previous control replacements.

[2020-06-30 17:12] ciozi137 commented on #15
Looks great

On Tue, Jun 30, 2020 at 1:04 PM Joseph <notifications@github.com> wrote:

[2020-06-30 18:18] Monkeymerlot commented on #15
Rectangle Edit is done:
![image](https://user-images.githubusercontent.com/37567672/86161972-13718680-badc-11ea-87e8-d0a4e8ec5943.png)
I didnt want to change the resistance package and I wanted a good looking enum so I had to typecast it to the correct type. I ran through all the values to make sure they all will be correct after typecasting and it works fine:
![image](https://user-images.githubus

[2020-06-30 18:39] ciozi137 commented on #15
Looks really nice.

[2020-06-30 19:37] Monkeymerlot commented on #15
Comparison for Histories sake:

![image](https://user-images.githubusercontent.com/37567672/86165999-1a02fc80-bae2-11ea-9a65-3b2625514b06.png)

And finished:

![image](https://user-images.githubusercontent.com/37567672/86169430-9cda8600-bae7-11ea-8a7a-be47770636b8.png)

[2020-06-30 19:37] #15 closed

[2020-06-30 20:31] Monkeymerlot commented on #28
I fixed this by working with a "work" reference and then copying over to the IMAQ control, which is in its own state now:
![image](https://user-images.githubusercontent.com/37567672/86174085-04480400-baef-11ea-9369-02a9db9eb975.png)

Refresh Render:
![image](https://user-images.githubusercontent.com/37567672/86174111-10cc5c80-baef-11ea-90aa-f2142ebca1bc.png)
Display Background:
![image](https://us

[2020-06-30 20:31] #28 closed

[2020-06-30 20:34] Monkeymerlot commented on #5
@edanalpern Im not sure if you have been actively pulling from main branch when you work, but if not, lets meet and discuss/implement your changes directly on master so we dont have a merge batte.

[2020-06-30 20:50] edanalpern commented on #5
@Monkeymerlot  I pulled from the master branch just this morning,  so I don't think it will be an issue.

[2020-06-30 20:51] Monkeymerlot commented on #5
I have made 10 commits since this morning

[2020-06-30 20:54] edanalpern commented on #5
Oh, see. I'm messaging you on google hangouts.

[2020-06-30 22:01] Monkeymerlot commented on #5
Implemented in commit 3b6b055:
New states:
![image](https://user-images.githubusercontent.com/37567672/86181013-3d867100-bafb-11ea-8d95-54ecec5e6bf0.png)

Data: Initialize:
![image](https://user-images.githubusercontent.com/37567672/86181043-4aa36000-bafb-11ea-9dc0-41ec785d8b02.png)

Macro: Initialize (Caller of Initialize and Read):
![image](https://user-images.githubusercontent.com/37567672/8618

[2020-06-30 22:08] ciozi137 commented on #5
I like it. Simple. We can add more configuration parameters as needed

[2020-07-01 12:49] ciozi137 opened #30 "Sign exe and installer?"
https://knowledge.ni.com/KnowledgeArticleDetails?id=kA00Z0000004A62SAE&l=en-US

@Monkeymerlot see above link how to sign applications and installers. I don't think we should do this. Mostly because we need to purchase a certificate from Verisign.

[2020-07-01 12:58] Monkeymerlot commented on #30
Agreed. The only people using this software will probably know us or be us. If it was free it'd be worth spending some time on but not for $250.

https://www.geocerts.com/code-signing-certificates

[2020-07-01 14:26] Monkeymerlot opened #31 "Write Up on Setting Up AFMs"
There are a lot of things that we take for granted in setting up the AFMs. For example, the use of Output A in the Asylum software. Having an experienced user make a page in the wiki for each supported AFM and how they are set up and lithography is performed would be good for both users in and out of the lab.

[2020-07-01 17:14] Monkeymerlot commented on #25
Added Resistor Box with help from @johnbrickmaier and put post object stuff in terminateLithographyObject
![image](https://user-images.githubusercontent.com/37567672/86272196-2d729e00-bb9c-11ea-8b98-c2cc7c340837.png)
Added event call back to post object stuff:
![image](https://user-images.githubusercontent.com/37567672/86272286-4f6c2080-bb9c-11ea-8b46-6b03b25f591b.png)
Added abort for initial move

[2020-07-01 19:39] Monkeymerlot commented on #27
Made a template with basic states, events registered, front panel correctly sized, etc.
AFM_Name_Driver.vit:
![image](https://user-images.githubusercontent.com/37567672/86284420-e04cf700-bbb0-11ea-9670-f029c020111c.png)

[2020-07-01 19:39] #27 closed

[2020-07-01 22:40] Monkeymerlot commented on #24
Done with initial conversion. I will keep cleaning everything up though.

The ramp case of the Rect Edit.vi: (Note that ramp is the most cluttered.)
![image](https://user-images.githubusercontent.com/37567672/86297569-afc58700-bbc9-11ea-8254-e979d02311dd.png)

Signal Generator (where these are read and applied to the paths)
![image](https://user-images.githubusercontent.com/37567672/86297625-d4216

[2020-07-02 03:14] #5 closed

[2020-07-02 12:46] ciozi137 opened #32 "Event.ctl error"
![image](https://user-images.githubusercontent.com/26659428/86360445-63695e00-bc40-11ea-9f1f-4f207934b27d.png)

in latest build bb48a78

[2020-07-02 12:51] ciozi137 commented on #32
@Monkeymerlot I disconnected Events.ctl from the class and also moved added it to the project:

![image](https://user-images.githubusercontent.com/26659428/86361010-349fb780-bc41-11ea-8cf5-0e462ecbdcad.png)

I think this probably isn't quite right yet.

[2020-07-02 12:52] ciozi137 opened #33 "MFP3D_Lucy?"

[2020-07-02 13:35] ciozi137 commented on #32
Actually this might be related to me not having the Asylum API package installed before. That being said I think it would be good to remove the Asylum driver project from the AFM_Lithogaphy project:

![image](https://user-images.githubusercontent.com/26659428/86365330-5ef47380-bc47-11ea-8a71-41c7347fe100.png)

[2020-07-02 13:38] ciozi137 opened #34 "Error 1003"
![image](https://user-images.githubusercontent.com/26659428/86365601-b85ca280-bc47-11ea-8855-b0631d3c4e46.png)

[2020-07-02 13:39] ciozi137 opened #35 "AFM Type"
Only one is shown:

![image](https://user-images.githubusercontent.com/26659428/86365727-e2ae6000-bc47-11ea-92ba-8f53dff2349f.png)

[2020-07-02 13:41] ciozi137 commented on #35
OK I see that Asylum is the only one available now.

![image](https://user-images.githubusercontent.com/26659428/86365883-1d17fd00-bc48-11ea-8412-9b40b803ea4f.png)

@Monkeymerlot Does simulation more work?

[2020-07-02 13:56] ciozi137 opened #36 "Root Path"
"Root path" is the root location in the application. We need to handle this correctly so that AFM_Lithogaphy.**vi** and AFM_Lithography.**exe** will function the same way.

![image](https://user-images.githubusercontent.com/26659428/86366237-8a2b9280-bc48-11ea-9380-05a4c07479df.png)

Here is comparison in a Test EXE.vi

![image](https://user-images.githubusercontent.com/26659428/86367459-f8bd2000-

[2020-07-02 13:59] ciozi137 commented on #36
![image](https://user-images.githubusercontent.com/26659428/86368066-c19b3e80-bc4a-11ea-91bd-6b366f5ab53d.png)

[2020-07-02 14:06] ciozi137 commented on #34
Asylum_Driver.vi not executable:

![image](https://user-images.githubusercontent.com/26659428/86368888-beed1900-bc4b-11ea-875f-257aa752e6da.png)

[2020-07-02 14:08] ciozi137 commented on #34
![image](https://user-images.githubusercontent.com/26659428/86369083-f8258900-bc4b-11ea-8eaf-f0cc89cd7cdf.png)

[2020-07-02 14:18] ciozi137 opened #37 "Test files"
Test paths should be relative to the project/application:
example:
![image](https://user-images.githubusercontent.com/26659428/86370111-4b4c0b80-bc4d-11ea-8e47-e43e419361d0.png)

[2020-07-02 14:27] ciozi137 commented on #25
@Monkeymerlot I'm looking at things now and preparing test build. There are some issues with files being in weird places and the Asylum Driver project is inside the AFM Litho project (issues #34 #32 ?)
Maybe we should switch to autopopulating folders...?

[2020-07-02 16:29] Monkeymerlot commented on #34
Debug mode was added in the latest release of the Asylum API

[2020-07-02 16:33] Monkeymerlot commented on #35
No. But the newest release of the Asylum API will open up a debug window which will show all of the commands happening in real time. I am unsure of what the simulation mode actually did as I never used it. You will need the latest release of the Asylum-API package for debug mode and to rewire the wire in #34 .

[2020-07-02 16:33] Monkeymerlot commented on #36
Makes sense, I will put a good explanation of what is going on in the diagram.

[2020-07-02 16:33] #36 closed

[2020-07-02 16:35] Monkeymerlot commented on #37
Oh sorry this was just for my own testing. I probably should convert this into unit tests with a "Unit_Test_Driver". That way we can make changes confidently in the future without having to worry about breaking it.

[2020-07-02 16:36] Monkeymerlot commented on #33
Never used it. @Yh-lab might know? Anyways, I think that the new driver should replace it as well.

[2020-07-02 16:38] Monkeymerlot commented on #35
Also @ciozi137 , something isn't right with those funnels. Probably had to do with the work I did on the TypeDefs last night.

[2020-07-02 16:42] Monkeymerlot opened #38 "Funnels Sideways Part 2"
From issue #35 :
![image](https://user-images.githubusercontent.com/26659428/86365727-e2ae6000-bc47-11ea-92ba-8f53dff2349f.png)

This seems related to issues #23 and #22 . It also might be related to issue #24

[2020-07-02 16:43] Monkeymerlot commented on #38
@ciozi137 what version of inkscape are you using and what file?

[2020-07-02 16:48] #30 closed

[2020-07-02 16:51] Monkeymerlot commented on #25
I think the Asylum Driver Project is because of the autopopulating folder. We can take that out. Everything _should_ be in the right place, but you and I know that with LabVIEW and source control that only happens when the stars align ¯\_(ツ)_/¯

[2020-07-02 16:55] Monkeymerlot commented on #32
No I moved it into the library later in development.. It didnt give me any issues at the time. I should have removed it from the project, then right clicked, Add>File and selected it. Ill fix this.

But you should also install the latest version of the Asylum-API

[2020-07-02 17:06] Monkeymerlot commented on #38
Reproducible on my computer with test.svg located in test files.

[2020-07-02 17:23] Monkeymerlot commented on #38
Found the root cause of the issue:
![image](https://user-images.githubusercontent.com/37567672/86390954-f74e2080-bc66-11ea-980f-041bfbbb0ba1.png)
So when we later find the curves with indices 1 and 2:
![image](https://user-images.githubusercontent.com/37567672/86391022-1a78d000-bc67-11ea-8462-a8e0a95f3415.png)

There is no array at index 2, thus it will be null and thus be an array of zeros.

[2020-07-02 17:50] Monkeymerlot commented on #38
Fixed:
The reason why it was different was because of how the latest version of inkscape saves the files. It was using relative paths, while the old version was using absolute paths.
So the new inkscape commands were: mlccz, while the old ones were MLCCz. The top array is the array used in tooling. So when L didnt get put into the top array, it caused the array size problems mentioned above. It wa

[2020-07-02 17:50] #38 closed

[2020-07-02 18:03] Monkeymerlot commented on #32
@ciozi137 Try it now...

[2020-07-02 18:59] ciozi137 commented on #35
OK I didn't know Asylum-API had an update. I will grab it and then load on our package server later

[2020-07-02 19:00] ciozi137 commented on #34
https://github.com/levylabpitt/AFM-Lithography/issues/35#issuecomment-653172085

[2020-07-02 19:00] ciozi137 commented on #32
https://github.com/levylabpitt/AFM-Lithography/issues/35#issuecomment-653172085

[2020-07-02 19:03] Monkeymerlot commented on #35
I think I just forgot to tell you. My bad... It should just be the latest in the builds folder.

[2020-07-02 19:04] ciozi137 commented on #35
Yeah I found it

[2020-07-02 19:05] Monkeymerlot commented on #35
Ok let me know if you still have this issue. I am having issues with the reference to the asylum driver on my computer so I need that functionality to develop the driver without it blowing up with errors.

[2020-07-02 19:11] ciozi137 commented on #35
@Monkeymerlot I'm confused about the folder "Asylum_Driver" in the AFM_Lithography project vs the Asylum API:

![image](https://user-images.githubusercontent.com/26659428/86400252-4780af00-bc76-11ea-9f69-0bd1dc2677e6.png)

Also "Asylum_Driver.vi" is still giving me an error after updating the package to v1.0.0.2.

[2020-07-02 19:25] ciozi137 commented on #32
@Monkeymerlot there doesn't seem to be any files called "Asylum_Driver.vi" in the Asylum_API package. I'm going to kick this back to you: you can remove the "Asylum Driver" stuff from the Litho project. Actually I think you should delete them from the entire repository, and then you can fix any missing files etc in the Asylum_API project.

[2020-07-02 19:28] Monkeymerlot commented on #35
Asylum API: Low level commands that directly control the AFM. Things like td_WriteString, td_ReadValue, ir_SetPISLoop etc. These are only commands provided by asylum. Nothing more. Its a simple LabVIEW wrapper for the commands they provide us.

The ActiveX API only provides us with a single command that we use: Execute2. This just sends something to the command line. Instead, I have made Asylum AP

[2020-07-02 19:29] Monkeymerlot commented on #35
@ciozi137  is it the same error?

[2020-07-02 19:31] Monkeymerlot commented on #32
Nooooo... they are different. See latest comment in #34

[2020-07-02 20:05] Monkeymerlot commented on #35
I will make a video explaining the difference between the Asylum Driver and Asylum API.

[2020-07-02 20:47] ciozi137 commented on #35
@Monkeymerlot thanks your explanation makes sense. But the icons are the same:
![image](https://user-images.githubusercontent.com/26659428/86407764-a13ba600-bc83-11ea-8824-f10fe4a8cd5c.png)

The new error is different. It might be related to the Relay Box package. Checking...

[2020-07-02 20:47] Monkeymerlot commented on #35
Video: https://drive.google.com/file/d/1nYPE_TKi-ClADYARoeyIJR8el_A7k9lh/view?usp=drivesdk

[2020-07-02 20:48] Monkeymerlot commented on #35
I can go in and change the icons for the driver to something else.

[2020-07-02 20:56] Monkeymerlot commented on #35
Driver Icons are changed.

[2020-07-02 20:59] Monkeymerlot commented on #37
Unit test driver is made.
![image](https://user-images.githubusercontent.com/37567672/86408496-1a87c880-bc85-11ea-8911-67e99143d5e6.png)
Redid the Calling VI:
![image](https://user-images.githubusercontent.com/37567672/86408603-46a34980-bc85-11ea-9baf-7d8fecdbb3b0.png)

[2020-07-02 20:59] #37 closed

[2020-07-02 20:59] ciozi137 commented on #35
nice. i'm installing Caraya then I will check it

[2020-07-02 21:03] ciozi137 commented on #35
OK thanks. They are different, but I think can be more different. Let's add it to the todo list. I think we can also put each of these things in a class just to use as a container and easy way to update all of the icons at once

![image](https://user-images.githubusercontent.com/26659428/86408933-ecef4f00-bc85-11ea-8b86-6ca17a495676.png)

[2020-07-03 01:28] Monkeymerlot opened #39 "Organization of Controls vs Typedefs"
@ciozi137 I had intended that the controls folder be used for custom made controls (ie the flat UI 2.0 ones) instead of type defs. I do agree though that the type defs folder should be brought out to the lvsrc folder.
![image](https://user-images.githubusercontent.com/37567672/86422290-baa41880-bcaa-11ea-97d5-bb25434210be.png).
What do you think?

[2020-07-03 02:47] ciozi137 commented on #39
I agree it can go into a typedef folder. It just shouldn’t be in subVIs

[2020-07-03 20:44] Monkeymerlot commented on #39
I agree. I think what I was going at is how do you think we should organize stuff? I am not a big fan of stuff being in the subVIs folder in general. Everything is technically a subVI.

[2020-07-03 20:47] Monkeymerlot commented on #24
To make sure that everything has a value, I added a thing that will check the variant attributes, and then put in default values if there isnt any. We can later change the default values.
![image](https://user-images.githubusercontent.com/37567672/86496761-c5af8500-bd4c-11ea-9154-072d2260b5b2.png)

[2020-07-03 21:04] Monkeymerlot commented on #15
This is a normal system. See how the text appears below ring:
![image](https://user-images.githubusercontent.com/37567672/86497068-183d7100-bd4e-11ea-9160-82aad8e5b6b1.png)
When I customize it, text will appear above control:
![image](https://user-images.githubusercontent.com/37567672/86497122-5470d180-bd4e-11ea-9636-5072a56fe149.png)
I guess this is a non issue because the functionality I was loo

[2020-07-03 22:07] ciozi137 commented on #39
Except for the top level VI...

I do like sub folders that are a better descriptor of their contents than “subVi”. Can be public, private, utilities, API, framework, override, subsystems,  etc

[2020-07-03 22:48] Monkeymerlot commented on #24
Tested and it looks good to me. Im going to close this.

[2020-07-03 22:48] #24 closed

[2020-07-03 22:49] #35 closed

[2020-07-03 22:49] Monkeymerlot commented on #34
@ciozi137  are you still getting this issue?

[2020-07-03 22:50] Monkeymerlot commented on #32
The event.ctl issue should be fixed.

[2020-07-03 22:50] #32 closed

[2020-07-03 22:51] ciozi137 commented on #34
Uh don’t know. another issue cropped up with the relay box.

![image](https://user-images.githubusercontent.com/26659428/86500316-3c08b300-bd5e-11ea-958f-019f07d49b38.png)

[2020-07-03 22:55] Monkeymerlot commented on #34
Hmm @johnbrickmaier do you know what the cause of this might be?

[2020-07-06 13:20] ciozi137 commented on #34
I suspect something like missing C++ Runtime. I'm investigating

[2020-07-06 13:31] ciozi137 commented on #34
I re-downloaded the dll ftd2xx.dll and replaced mine. Who knows... I think this is worked out on the machines actually running the Relay Box

[2020-07-06 13:32] #34 closed

[2020-07-06 13:36] ciozi137 commented on #31
Example:

![image](https://user-images.githubusercontent.com/26659428/86599084-236de800-bf6c-11ea-98e4-36d5cfcc205e.png)

[2020-07-06 18:13] ciozi137 opened #40 "Watchdog VIs?"
@Monkeymerlot
### when I do a mass compile of this repository I get these errors:
![image](https://user-images.githubusercontent.com/26659428/86625009-5b882180-bf92-11ea-9f93-d0017f162f54.png)

### None of those 6 VIs are in the AFM_Driver_Manager.lvclass:
![image](https://user-images.githubusercontent.com/26659428/86625153-9f7b2680-bf92-11ea-9621-1ef0c2fa8598.png)

### And they have other errors,

[2020-07-06 18:15] Monkeymerlot commented on #40
That was an overly complicated way that I initially tried to implement the abort sequence. You can delete all of them.

[2020-07-06 18:16] Monkeymerlot commented on #31
@aditi-nethwewala Settings in igor would also be clutch.

[2020-07-06 18:18] Monkeymerlot commented on #39
So basically we should move the folders out from the subVI folder?

[2020-07-06 18:22] ciozi137 opened #41 "Unit_Test_Driver.vi"
### Few questions about the state machine:
![image](https://user-images.githubusercontent.com/26659428/86625994-0d741d80-bf94-11ea-8eb0-7dc5b1088436.png)

[2020-07-06 18:24] ciozi137 commented on #41
i.e.:
![image](https://user-images.githubusercontent.com/26659428/86626136-4613f700-bf94-11ea-9e27-db1a01bacde6.png)

[2020-07-06 18:24] Monkeymerlot commented on #41
@ciozi137  because we are changing the value of those references before we start up the driver programmatically... You cant do that with a constant

[2020-07-06 18:24] ciozi137 commented on #40
Awesome. I love to lighten the load

[2020-07-06 18:28] ciozi137 commented on #40
How about:
AFM_Driver_Manager.SendBackgroundImage.vi
AFM_Driver_Manager.SendLithography.vi
AFM_Driver_Manager.SendRun.vi
AFM_Driver_Manager.SetActive.vi

They don't have callers

[2020-07-06 18:29] ciozi137 commented on #40
Also
Abort
CreateAbort
DestroyAbort

[2020-07-06 18:30] ciozi137 commented on #40
Also

- GetPublicEvents
- ReadActiveDriver
- SetActive

[2020-07-06 18:32] ciozi137 commented on #41
But what is updating them? They aren't wired to a terminal

[2020-07-06 18:33] ciozi137 commented on #39
I think that would be fine.

[2020-07-06 18:34] ciozi137 commented on #33
I propose we delete it from the source code when we remove Cypher and MFP3D

[2020-07-06 18:36] Monkeymerlot commented on #40
Im not sure if something is wrong with your project or what but those all have callers...
Abort:
![image](https://user-images.githubusercontent.com/37567672/86627124-c9821800-bf95-11ea-95ee-937c73e52edb.png)
Create Abort:
![image](https://user-images.githubusercontent.com/37567672/86627190-e4548c80-bf95-11ea-9940-2af3861a6c02.png)
Destroy Abort:
![image](https://user-images.githubusercontent.com/3

[2020-07-06 18:38] Monkeymerlot commented on #41
You dont have to be wired to a terminal to update something:
![image](https://user-images.githubusercontent.com/37567672/86627394-401f1580-bf96-11ea-8502-dd92c4758b99.png)

[2020-07-06 18:41] Yh-lab commented on #33
I think we can remove it. It only involves a small change about engaging or withdrawing the tip which doesn't really affect the writing.

[2020-07-06 18:44] ciozi137 commented on #40
Oh OK I see. I think I only had the class open.

[2020-07-06 18:44] #40 closed

[2020-07-06 18:47] Monkeymerlot opened #42 "Version of LabVIEW issue?"
@ciozi137
![image](https://user-images.githubusercontent.com/37567672/86628153-8163f500-bf97-11ea-99df-76b35b6a655e.png)
This happened when pulling the latest 3 commits. I have LabVIEW 2020

[2020-07-06 18:50] ciozi137 commented on #41
I see

[2020-07-06 18:50] #41 closed

[2020-07-06 18:50] ciozi137 commented on #42
@Monkeymerlot Sorry I didn't tell you I was using Labview 2021

[2020-07-06 18:55] Monkeymerlot commented on #42
Im assuming that is sarcasm but I can't do anything as the whole entire library is now bricked and thus the entire program is as well. Any ideas?

[2020-07-06 18:56] ciozi137 commented on #42
Yes, /s. I'm closing and reopening. Will see what happens...

[2020-07-06 18:59] ciozi137 commented on #42
Same error here. This is amazing

[2020-07-06 19:00] ciozi137 commented on #42
Annnnd NI is closed today for the holiday

[2020-07-06 19:07] Monkeymerlot commented on #42
@ciozi137 maybe we unlocked LabVIEW 2020 on accident. But really just thankful that it wasnt a driver or something. I just rewrote it and ran the tests:
![image](https://user-images.githubusercontent.com/37567672/86630094-621a9700-bf9a-11ea-9042-89fe7c5e5089.png)

[2020-07-06 19:08] Monkeymerlot commented on #42
Just pushed.

[2020-07-06 19:11] ciozi137 commented on #42
same. I think it looks good now

[2020-07-06 19:18] ciozi137 commented on #42
I'm working on building "v8.6"

[2020-07-06 19:18] #42 closed

[2020-07-06 19:29] Monkeymerlot commented on #39
Ok Ill do that later tonight after everyone is done working on it.

[2020-07-06 19:58] Monkeymerlot commented on #25
![image](https://user-images.githubusercontent.com/37567672/86635676-626a6080-bfa1-11ea-925b-426394af3264.png)
Minor change. I made the move to initial point speed be equal to the value in the old program

[2020-07-06 20:03] Monkeymerlot commented on #25
Reviewing over the command order. I think that tip down should happen _after_ the move to the initial point?
![image](https://user-images.githubusercontent.com/37567672/86636294-1ec42680-bfa2-11ea-8a9e-71a6572fb572.png)

[2020-07-06 20:16] Monkeymerlot commented on #25
@ciozi137 I saw that you did a build. I just wanted to make sure that you turned Debug? to False on the driver:
![image](https://user-images.githubusercontent.com/37567672/86637676-fccba380-bfa3-11ea-961f-5c8833932486.png)

[2020-07-06 20:24] ciozi137 commented on #25
don't know. I will check

[2020-07-06 20:27] ciozi137 commented on #25
no. it was true. I will fix in v8.6.0.5

[2020-07-06 20:57] ciozi137 commented on #25
Still building 8.6.0.5. It's taking a really long time for the installer for some reason. Will have to come back later to check and commit/push my changes.

[2020-07-06 23:10] ciozi137 commented on #25
That build was terrible. Starting over. Will be 8.6.0.7.

[2020-07-06 23:23] ciozi137 commented on #25
@Monkeymerlot @aditi-nethwewala new build 8.6.0.7 is posted. Code is pushed also

[2020-07-07 00:42] Monkeymerlot opened #43 "Bottom Segments are Incorrect"
Number of bottom segments (3):
![image](https://user-images.githubusercontent.com/37567672/86676738-eb48c280-bfc8-11ea-81e9-4608e3043737.png)
Number generated is one less (2):
![image](https://user-images.githubusercontent.com/37567672/86676857-0adfeb00-bfc9-11ea-89ad-c471e0434657.png)

[2020-07-07 00:48] Monkeymerlot commented on #43
Fix:
In Funnels to commands:
![image](https://user-images.githubusercontent.com/37567672/86677811-f18b6e80-bfc9-11ea-9f04-6d078ad83911.png)

Fixed funnel:
![image](https://user-images.githubusercontent.com/37567672/86677536-af622d00-bfc9-11ea-9778-24c40dbbd644.png)

[2020-07-07 00:48] #43 closed

[2020-07-08 14:24] ciozi137 opened #44 "New IMAQ to LV function"
"I [@Monkeymerlot] rewrote the LV to IBW IBW file to LV from scratch using the Igor Technical Notes since we were unsure if we wrote it or not, and also we want a standard interface when reading files. Can you test it on a few different files to make sure everything works correctly? You will need to have IMAQ 20 installed.

Also, can you take a look at the block diagram and see if it is readable?

[2020-07-08 14:26] ciozi137 commented on #44
@Monkeymerlot I put this file in the project (with new name "Load IBW File.vi"

I also added a "Variant LUT" to scan size VI (replaces "...ReadScanSizeAndOffset...")

Summary:
![image](https://user-images.githubusercontent.com/26659428/86930804-69aa7f00-c105-11ea-9d16-afa7af9a5a6f.png)

VIs do not refer to the new ones. And Old ones still exist in project. Once the new ones are incorporated we sho

[2020-07-08 14:26] Monkeymerlot commented on #44
For clarity, the file is called ReadIBWFile.vi (to match similar functions such as ReadNIDFile.vi)

[2020-07-08 14:28] Monkeymerlot commented on #44
Sgl word wrap is incorperated into the new function and credited there.

[2020-07-08 14:28] ciozi137 commented on #44
OK you can rename.
Re: SGL word wrap, just pointing out some duplicate stuff

[2020-07-08 14:30] Monkeymerlot commented on #44
I hadnt seen that you posted a picture and was pointing out what we are talking about for anyone viewing this in the future.

[2020-07-08 14:33] Monkeymerlot commented on #44
And the duplicate is because I had copied over that file which wasnt part of the lithography repository at the time when refactoring the asylum driver. When integrating the new driver into the main branch I think I just forgot to remove it.

[2020-07-08 14:34] ciozi137 commented on #44
my changes are pushed if you want to take a crack at incorporating these things + deleting stuff

[2020-07-08 15:37] Monkeymerlot commented on #44
I did some modifications to the way the benchmarking was done to make the measurements independent of the other function (you have to purposefully force the compiler to look at each function individually) and added averages.
![image](https://user-images.githubusercontent.com/37567672/86939075-20f7c380-c10f-11ea-9cd3-e6c882d730a9.png)

Results provided the same conclusion, but both functions actual

[2020-07-08 16:11] Monkeymerlot commented on #44
Ok everything is implemented and seems to work fine.

[2020-07-08 16:11] #44 closed

[2020-07-10 19:24] ciozi137 opened #45 "Update install location"
Should be C:\Program Files (x86)\LevyLab\AFM Lithography\ and Start Menu\LevyLab\AFM
like this:
![image](https://user-images.githubusercontent.com/26659428/87190926-6d830080-c2c1-11ea-99cd-db947d41b328.png)

not this:
![image](https://user-images.githubusercontent.com/26659428/87190891-60661180-c2c1-11ea-8bed-9cac207242c9.png)

[2020-07-10 19:25] ciozi137 commented on #45
also:
![image](https://user-images.githubusercontent.com/26659428/87191050-a28f5300-c2c1-11ea-8c6e-dc2a53bf4d40.png)

[2020-07-10 19:28] ciozi137 opened #46 "Clean up branches"
- move to Git Flow / GitHub Flow branch model
  - Git Flow: https://nvie.com/posts/a-successful-git-branching-model/
  - GitHub flow: https://guides.github.com/introduction/flow/
-  delete/close all the other old, stale branches

[2020-07-10 19:37] Monkeymerlot commented on #46
@ciozi137 so basically what I was using master for is really now the development branch, and every time I work on a new feature I make a branch _from_ development, where I then merge _back into_ development branch? Then for a release I would merge development into master?

[2020-07-10 19:49] ciozi137 commented on #46
Yes that’s the basic gist. The way I understand it is that **master** should always be in a working state. And development can be a mixture of not working and new features.  So whenever we make a “release” we would merge into master. I don’t know if we need to be so sophisticated to have release branches, but we could.

[2020-07-10 20:11] Monkeymerlot commented on #46
Before I begin deleting branches Im going to download the code for Master in a zipped file just in case something wonky goes on.

[2020-07-10 20:27] Monkeymerlot commented on #46
These are all stale but they might have significant changes on them? @aditi-nethwewala can we delete that branch or?

[2020-07-10 23:27] Monkeymerlot opened #47 "Data Max Min should be a single control"
Something easy to change to try out the git flow.
Current way:
![image](https://user-images.githubusercontent.com/37567672/87210098-5c96b700-c2e2-11ea-89af-7829c79e061d.png)
New way:
![image](https://user-images.githubusercontent.com/37567672/87210415-7258ac00-c2e3-11ea-8f34-dd49c8875fbb.png)

[2020-07-10 23:28] Monkeymerlot commented on #47
![image](https://user-images.githubusercontent.com/37567672/87210457-91efd480-c2e3-11ea-9d14-e40835ac032d.png)

[2020-07-11 15:45] aditi-nethwewala opened #49 "Cannot Rearrange Patterns (drag-and-drop reorder)"
![image](https://user-images.githubusercontent.com/61893772/87227942-053d2900-c36c-11ea-9efb-7446e564164d.png)

[2020-07-11 15:47] aditi-nethwewala opened #50 "Enable disable tabs not clear"
The older switch was better

![image](https://user-images.githubusercontent.com/61893772/87227964-2b62c900-c36c-11ea-9bfa-3c85dd8e7ad0.png)

[2020-07-11 15:50] aditi-nethwewala opened #51 "Done tab closes the exe. completely"
Done function is used under few cases:

To stop the lithography in between ( I think we discussed making abort button functional regarding this)
Once we are done using the AFM
Sometimes before writing the barriers, we need to press done and restart the program, otherwise the program does not respond to making the small barriers properly (ot sure why, can be interpolation distance problem too or so

[2020-07-11 15:51] aditi-nethwewala opened #52 "Rearranging functions on AFM settings tab"
May be it is better to have the set point and interpolation distance separate from the rest as these are the only two functions the user is supposed to change and rest should be left unchanged

![image](https://user-images.githubusercontent.com/61893772/87228080-e4c19e80-c36c-11ea-922f-eefbce09c397.png)

[2020-07-11 15:55] aditi-nethwewala opened #53 "Buttons (just a personal preference)"
![image](https://user-images.githubusercontent.com/61893772/87228142-294d3a00-c36d-11ea-9b3d-3e9b5c83b03e.png)

I personally prefer to have the second kind of buttons (like in resistance) specially when we have to choose between two options like for direction and fill orientation. I just feel it is faster. If you think other way is better it is fine too

[2020-07-11 21:16] Monkeymerlot commented on #49
I will fix this in the repository but for now you can do the following to the non exe on the computer:
1. Right click on the listBox control
2. Select "Drag and Drop"
3. Make sure that both "Allow Dragging" and "Allow Dropping" are selected.
![image](https://user-images.githubusercontent.com/37567672/87233944-287ecd00-c39a-11ea-8af6-75116212f64f.png)

To fix the exe we will have to build it again,

[2020-07-11 21:18] Monkeymerlot commented on #50
I will fix this in the near future. For now though, filled/grey = True, unfilled/white = False.

[2020-07-11 21:20] Monkeymerlot commented on #52
Agreed. Thanks for the feedback!

[2020-07-11 21:24] Monkeymerlot commented on #30
The university might have one that we could use: https://www.technology.pitt.edu/security/digital-certificates

[2020-07-11 21:43] Monkeymerlot commented on #51
Re Cases:
1. Abort should do this properly now, but you will need to test it.
2. This is when this function should be used. The program should stop and exit. Closing the exe completely is the expected functionality in this case. In the development environment, it is expected to finish and stop execution.
3. Please open up a new issue with the Label "Type: Bug" for this. That should not be happenin

[2020-07-11 21:44] Monkeymerlot commented on #39
I tried to do this the other day and LabVIEW started throwing a fit. I will do this again another time more slowly.

[2020-07-11 21:45] #47 closed

[2020-07-11 21:48] ciozi137 commented on #39
Ok. Do you think it makes sense to clean up the branches at the same time?

[2020-07-11 21:58] Monkeymerlot commented on #50
I think that a "switch" type of button might render this a little bit more clear while staying away from "The ugliest button in LabVIEW":

![image](https://lh3.googleusercontent.com/r0pCV2CAoi4lCwtJNo4S3UpA4SehUUB48Wpe2QGexCQAWFYfe0j8VRjTrMjFh36weNqbHngUlt6TY770Mk0TnMPIMRbGn-5RTp7pYw=w1064-v0)
Source: https://material.io/components/selection-controls#switches

[2020-07-11 22:11] Monkeymerlot commented on #49
Fixed programmatically (so changing control again wont change this functionality without breaking code) in develop

[2020-07-11 22:11] #49 closed

[2020-07-11 22:20] Monkeymerlot commented on #52
Changed it to be like this:
![image](https://user-images.githubusercontent.com/37567672/87234863-1fdec480-c3a3-11ea-8b6e-4e87e27e41cb.png)

[2020-07-11 22:30] Monkeymerlot commented on #39
I think we should do it when all branches are closed except develop, and even then only when it is even with Master. I dont even want to think about the issues merging that would be.

[2020-07-11 22:48] ciozi137 commented on #39
Do you mean fix the branches first and then fix the folder structure?

I would be ok merging everything / deleting branches, till we are down to one branch (master), then fix the folders, and finally create the branches again

[2020-07-11 23:08] Monkeymerlot commented on #50
@aditi-nethwewala is this more clear?
![image](https://user-images.githubusercontent.com/37567672/87235337-25d7a400-c3a9-11ea-99ac-23a86a1f8e9b.png)
 or even this:
![image](https://user-images.githubusercontent.com/37567672/87235398-c1691480-c3a9-11ea-81b1-28d5e5386337.png)

[2020-07-11 23:12] Monkeymerlot commented on #53
It would be a bit of work to replace them. I do get what you're saying about the two option settings though. For now lets keep them the way they are, and in the future if it is still bothersome let me know and I can take some time to replace them.

[2020-07-11 23:15] Monkeymerlot commented on #39
I have already started developing on the develop branch as it is. We will need to probably do a build again sometime this week to fix the Drag and Drop functionality that got removed when I replaced the listbox control. Right before the build seems like a good place to ensure that everything is merged etc. and then we can build. That way if we need to do further bug fixes the repository wont be to

[2020-07-12 01:04] aditi-nethwewala commented on #50
I think this is better

![image](https://user-images.githubusercontent.com/61893772/87236673-f9785380-c3b9-11ea-91d3-4db6bbc79505.png)

[2020-07-12 01:08] aditi-nethwewala commented on #51
I will create a new issue, but I think this is a difficult one to figure out. Also, it does not happen all the time. I will test the rest.

[2020-07-12 01:12] aditi-nethwewala commented on #52
Can you arrange it the following way please. Thank you

Move set point                   Writing setpoint
Amplifier                             Interpolation (um)

[2020-07-12 01:13] aditi-nethwewala commented on #52
I think it messed up the comment, but basically same as you did, just swapping some positions

[2020-07-12 01:17] aditi-nethwewala commented on #46
@Monkeymerlot the Bitmap functionality is something we tried to develop a few years ago. We never really moved forward on them, but it has significant differences from the main program. I would suggest not to delete them, if required they can be moved elsewhere

[2020-07-12 01:59] Monkeymerlot commented on #52
So in terms of quadrants (I-IV):
I. Write setpoint
II. Move Setpoint
III. Amplifier
IV. Interpolation
???

[2020-07-12 02:01] Monkeymerlot commented on #51
Clarification on 2: when I say the development environment is expected to "finish", it will abort the lithgraphy with a hard abort. Ie a forced shutdown.

[2020-07-12 02:02] Monkeymerlot commented on #50
Ok that should be easy to implement.

[2020-07-12 02:09] ciozi137 commented on #46
Deleting the branch won't delete the files. It just deletes the pointer to the branch. We can always get the files by checking out an old revision.

[2020-07-12 02:41] Monkeymerlot commented on #44
Increased speed by a factor of 92%:
Old:
![image](https://user-images.githubusercontent.com/37567672/87236387-f891f280-c3b6-11ea-8703-be074c2d5512.png)
New:
![image](https://user-images.githubusercontent.com/37567672/87236393-06e00e80-c3b7-11ea-8b22-aa6b9a497bd1.png)

Basically I change the entire array at once, instead of each point (which has many buffer allocations)

[2020-07-12 04:07] Monkeymerlot commented on #50
Fixed:
![image](https://user-images.githubusercontent.com/37567672/87238653-6ba96200-c3d3-11ea-84ab-4a869af3e6ab.png)

[2020-07-12 04:07] #50 closed

[2020-07-12 04:34] Monkeymerlot commented on #46
Ok then I will delete the branches tomorrow or on Monday, and if we need the code later we can go and check out the old revisions.

[2020-07-12 18:25] Monkeymerlot opened #54 "Interpolation Distance Clarification"
The interpolation seems to cause a lot of people anguish, so I have some questions about the different interpolations and what they are doing.
So, to start with there are two Interpolation values that I have been told in the past need to match otherwise you get some weird errors. This is only a thing for the Asylum AFMs though.
Here are the two on the front panel:
![image](https://user-images.gith

[2020-07-12 18:52] Monkeymerlot commented on #51
@aditi-nethwewala can you try writing a small barrier that smaller than half of the interpolation distance? I think I might have found the bug that you are talking about.

Here is the old driver's interpolation if the distance was twice the length:
![image](https://user-images.githubusercontent.com/37567672/87254091-1d857480-c44e-11ea-9ae3-24195371b76b.png)
And the new driver also suffers this fat

[2020-07-13 00:22] aditi-nethwewala commented on #54
@Monkeymerlot I believe @Yh-lab can give the best answer for this. As per my understanding, the global interpolation is for all objects, funnels, rectangles (of different sizes) and paths.I can imagine interpolation being helpful for a number of reasons, like for smooth writing, ultimate lithography time is just a result. The reason why the two have to be same is actually true only for paths, beca

[2020-07-13 00:25] aditi-nethwewala commented on #51
Interpolation distance is in micrometers, so I think the above mentioned thing shouldn't be an issue. We keep our interpolation distance to be 0.001 um which is 1 nm for writing max. 50 nm wide barriers.

[2020-07-13 00:29] Monkeymerlot commented on #51
Ok but you will still need to put them in in as meters for now in the new driver.

[2020-07-13 00:38] aditi-nethwewala commented on #51
Ok, right now I am just testing the programs, not making it open for everyone. Also, I suggest to change it in the next version. Two reasons:

- we do not want to do unnecessary conversions, right now it is nice because we enter interpolation in the order of um and nm
- we want to keep few things consistent with before and not cause confusion, interpolation distance would be one of them

[2020-07-13 00:39] Monkeymerlot commented on #51
Oh I totally agree, it'll definitely be fixed before the next release. I just dont want _you_ to not be able to do anything while you're testing.

[2020-07-13 01:44] aditi-nethwewala commented on #52
![image](https://user-images.githubusercontent.com/61893772/87262594-87bb0b00-c488-11ea-9a9b-57ff97377cad.png)

I had something like this in mind

[2020-07-13 01:47] aditi-nethwewala commented on #52
You can also put "(do not change)" beside Hardware setup

[2020-07-13 01:51] aditi-nethwewala commented on #31
I forgot about this, will work on this coming week

[2020-07-13 01:54] Monkeymerlot commented on #52
Done and I will put a popup making sure whoever is changing the values is positive that they understand what they are doing. However, looking forwards I think that having something that should be the same every time should be in configuration instead of being a control and then in order to change it you open up a menu.
![image](https://user-images.githubusercontent.com/37567672/87262879-8b9b5d00-c

[2020-07-13 02:09] Monkeymerlot commented on #52
Dialogue:
![image](https://user-images.githubusercontent.com/37567672/87263643-ce5e3480-c48b-11ea-83f9-12e00beb40d4.png)
and for a really special effect I added Beep.vi (its the sound that windows makes when you try to change a sound you aren't supposed to. )

[2020-07-13 02:10] aditi-nethwewala commented on #52
Great! Thank you

[2020-07-13 02:15] Monkeymerlot commented on #52
Is this scary but truthful enough for the Move Setpoint?
![image](https://user-images.githubusercontent.com/37567672/87264114-29445b80-c48d-11ea-8a06-e99282dc8cbe.png)

[2020-07-13 02:26] aditi-nethwewala commented on #52
I think so, I have never seen anyone messing with the move set point in all the years I have been here

[2020-07-13 02:52] Monkeymerlot commented on #52
Neither have I, but I was thinking that its more for
1. other groups that might use this software
2. someone is tired and they accidentally do the wrong set point
3. a new user does it on an accident.

[2020-07-13 02:52] #52 closed

[2020-07-13 03:58] Monkeymerlot opened #55 "Use Eulogy Toolkit for Refactoring"
This toolkit looks pretty cool and I've done some dry runs and it works really nicely with the included quick drop shortcuts.
http://sine.ni.com/nips/cds/view/p/lang/en/nid/217170
Now that almost all of the unused stuff is gone, we will start to be refactoring and adding objects/SMOs etc. This will involve putting down a lot of disable diagram structures, and this toolkit adds some organization to

[2020-07-13 14:14] Yh-lab commented on #54
@aditi-nethwewala is basically correct. During the writing for path and maybe funnels it is required to set two interpolation distance equal. For rectangular only interpolation distance in the driver matters. I forget why we have this setting. But one thing I can imagine to improve is that for rectangulars only keep points on two edges. That should enough. And automatically set the interpolation d

[2020-07-13 14:30] Monkeymerlot commented on #54
@Yh-lab I'm a little bit lost (sorry my parents dog woke me up early this morning). So the Main interpolation is only required for paths? And they really only need to be set equal for paths? Furthermore rectangles definitely don't need either interpolation? Also, you're suggesting that we just automatically set the interpolation distance equal for paths and funnels, and move the Main interpolation

[2020-07-13 14:32] #51 closed

[2020-07-13 14:33] Monkeymerlot commented on #33
This will be removed once we finish revisions on the new driver.

[2020-07-13 16:31] Monkeymerlot commented on #46
Branches are cleaned up
![image](https://user-images.githubusercontent.com/37567672/87329305-b8d92100-c504-11ea-8fba-fd97f22f9b22.png)

[2020-07-13 16:31] #46 closed

[2020-07-13 16:32] Monkeymerlot commented on #29
Has anyone figured this out yet?

[2020-07-13 20:04] Yh-lab commented on #54
I am sorry my previous answer might be wrong. I will try my best to answer this question. The reason for global driver interpolation is to have a well defined writing speed for every pattern and your patterns can be a combination of paths, funnels and rectangulars.

This goes back to another question you asked about 50000 Hz. As far as I understand, AFM itself doesn't know about "speed", it only k

[2020-07-14 20:02] ciozi137 commented on #45
@Monkeymerlot I just updated the build spec

[2020-07-15 02:23] Monkeymerlot commented on #16
Path Parser just passed all unit tests for the different objects:
![image](https://user-images.githubusercontent.com/37567672/87495688-01393180-c620-11ea-8fe8-502a9b029909.png)
Class Hierarchy:
![image](https://user-images.githubusercontent.com/37567672/87495905-7c024c80-c620-11ea-99b9-cd19fea6e545.png)
I'll be committing this to the develop branch tonight.

[2020-07-15 05:34] Monkeymerlot commented on #16
The files have been committed to the develop branch. The Parse Testing project is a little messy because I am still planning things out somewhat.

I also started writing tests for a path tokenizer that wont pass yet because no code has been written for the Tokenizer yet. In particular, there are a lot of tests involving formatting (50!) because as I understand the specification, the formatting is

[2020-07-16 04:09] Monkeymerlot commented on #16
Tokenizer is finished and passes all of the required tests that I made last night and today. It gets rid of complicated and/or implicit path command data and breaks the entire path command string into chunks that correspond to a single path command and can be used in conjunction with the Path Commands classes that I finished yesterday. It turned out to be a little bit complicated but I guess the m

[2020-07-16 23:53] Monkeymerlot commented on #16
Parsing for Paths:
(note that transform class is not implemented yet)
![image](https://user-images.githubusercontent.com/37567672/87733132-df18ee00-c79c-11ea-9ecb-d9ab805e1b3d.png)
I was messing around with some things to make sure everything fit together and the APIs meshed together well, thus the checking of the array size at the end.

Inside Path.lvclass:Initialize.vi:
![image](https://user-ima

[2020-07-20 14:09] ciozi137 commented on #16
@Monkeymerlot this looks like really great documentation, thank you. Do you think it should be moved to its own readme file inside, for example, a documentation folder?

[2020-07-20 18:37] Monkeymerlot commented on #16
@ciozi137 I moved it into the newly created developer documentation section of the wiki.

[2020-07-20 18:41] ciozi137 commented on #16
Nice

[2020-07-20 21:34] Monkeymerlot commented on #16
Implemented a rectangle class and provided a way to parse images
![image](https://user-images.githubusercontent.com/37567672/87987238-5061e500-caac-11ea-9a2f-b19b22fe40b6.png)

I was also thinking of using a decorator pattern for the funnel implementation since they are not only identical to paths, but are rather just a few extensions to the same exact data but there is nothing that warrants them

[2020-07-21 01:19] Monkeymerlot commented on #16
Finished SVGImage class which will store data for the image that is found, and then I made an SMO called ParseVectorFile Class (we can change this in the future using the Open G LVOOP toolkit) and implemented a method that will return the parsed data in the form of objects when it is given a path:
![image](https://user-images.githubusercontent.com/37567672/88001282-c6c30f00-cacd-11ea-9266-f45078f6

[2020-07-21 20:22] Monkeymerlot commented on #16
Modularized (so multiple people can work on similar things and each part is easier to understand) and added a synchronous method.
Synchronous Method:
![image](https://user-images.githubusercontent.com/37567672/88102280-49e77200-cb6d-11ea-83f2-683202454d89.png)
![image](https://user-images.githubusercontent.com/37567672/88102590-d2661280-cb6d-11ea-944b-f57f08ef8de3.png)
where if it is not started i

[2020-07-28 04:00] jlevylab opened #56 "Configuration + ActiveX Issues"
Video here (2m): https://drive.google.com/file/d/1on2hc9t9XwDA0p0l4jX0_fZdNfgObFqS/view?usp=drivesdk
there are some class errors and also drag and reorder paths doesn't seem to work.

[2020-07-28 21:07] Monkeymerlot commented on #56
Drag and drop reorder issue has been resolved in develop (issue #49).
Class not registered: This is related to LabVIEW not finding Igor Pro on your computer. If you do have Igor pro on this computer, let me know. @aditi-nethwewala  had some issues with Igor Pro a few weeks ago, and if you do have it installed already, this might be related to the issues that she had.
I am unsure if the persistent

[2020-07-29 16:41] aditi-nethwewala commented on #56
@Monkeymerlot I don't think my issue was related to the lithography program failing to find Igor Pro . The issue which I had was licensing issue. That being said, we should run the Asylum software with Igor 6.37 (which does not happen when we download the software), but I have already mentioned this to @jlevylab earlier so he might have already taken care of it

[2020-07-29 16:55] jlevylab commented on #56
Cypher is already running 6.37

From: aditi-nethwewala <notifications@github.com>
Sent: Wednesday, July 29, 2020 12:42 PM
To: levylabpitt/AFM-Lithography <AFM-Lithography@noreply.github.com>
Cc: jlevylab <jeremy.levy@levylab.org>; Mention <mention@noreply.github.com>
Subject: Re: [levylabpitt/AFM-Lithography] questions about runtime version (#56)

@Monkeymerlot <https://github.com/Monkeymerlot>  I

[2020-07-31 18:39] Monkeymerlot commented on #56
## Configuration issues fix:
The exe did not have read/write access on the Cypher Computer. This is solved by running it as Administrator. This is also why there wasn't an issue on @ciozi137 or my computer.

## ActiveX Fix:
### Suspected issue:
The Asylum software installation did not update the windows registry notifying it that there was an ActiveX API, so when LabVIEW looks for the ActiveX API

[2020-07-31 18:39] #56 closed

[2020-07-31 18:42] Monkeymerlot commented on #25
Reported issue:
(@aditi-nethwewala)
1. It created a duplicate version of LV 2020 which led to all the programs freezing for the next user. I ultimately had to restart the computer while someone was in between their experiment
2. After the restart, somehow the lithography got a little messed up.
The tip started going to 0,0 position at the start of the writing instead of starting from its last posi

[2021-01-05 20:06] Monkeymerlot commented on #31
I did a short write up on setting up Asylum and Nanosurf AFMs in terms of getting the software up and running/communicating with the lithography program.

[2021-01-05 21:15] Monkeymerlot opened #57 "Building Issues"
I have been trying to compile and package the develop branch of this repository and keep running into building issues. I managed to get the build to work once, but then I tried to use the installer and it said that the files were corrupted. In attempting to build again I ran into the following error:
![image](https://user-images.githubusercontent.com/37567672/103699520-0fce2900-4f71-11eb-886c-b11d

[2021-01-27 00:18] Monkeymerlot commented on #16
Wrote glue code so we can use the new parser in the current software.

The result returned from the ParseVectorFile SMO is then run through the glue code which converts it into the old format.
![image](https://user-images.githubusercontent.com/37567672/105923779-dab27500-600a-11eb-8aee-a43c107d599d.png)

And here is the glue code itself:
![image](https://user-images.githubusercontent.com/37567672/

[2021-01-27 00:45] Monkeymerlot commented on #57
Tried to build again today. Got the same error as above...

[2021-01-27 00:49] ciozi137 commented on #57
@Monkeymerlot what branch and what version of labview?

[2021-01-27 00:50] ciozi137 commented on #57
Also can you build the application or installer directly from the build spec in the lv project?

[2021-01-27 00:51] Monkeymerlot commented on #57
Develop branch, and LabVIEW 2020, VIPM 2020.0.0 (Pro Edition)

[2021-01-27 00:51] Monkeymerlot commented on #57
@ciozi137 Ill try that right now.

[2021-01-27 00:58] ciozi137 commented on #57
Somewhat unrelated but you should update to vipm 2020.3. and lv 20 has a service pack

Pertinent question: do we need to make a package for afm litho? Or would just building an exe be good enough? Or, can we separate the two, meaning the exe application is distinct from any packages we might need.

[2021-01-27 00:59] Monkeymerlot commented on #57
I built the application directly from LabVIEW. It seems to work fine minus the fact that I forgot to take it out of debug mode...
![image](https://user-images.githubusercontent.com/37567672/105926870-d5f0bf80-6010-11eb-90d7-336e74464b19.png)

and I think that an installer would be fine. The goal is to get this working with Cypher.

[2021-01-27 01:01] Monkeymerlot commented on #25
![image](https://user-images.githubusercontent.com/37567672/105927064-37b12980-6011-11eb-855f-1c79a85976db.png)
Got this issue when I was running a built version of the program.

[2021-01-27 01:04] ciozi137 commented on #16
@Monkeymerlot Thanks for the updates. I haven't looked closely yet, but how difficult do you think it might be to add a GDSII parser?

[2021-01-27 01:08] Monkeymerlot commented on #57
OK, it's been a while since I have even looked at NIPM. Currently updating everything.

And basically I want to merge develop into main, and make a new release. Then hopefully, with all of the corrections/bug fixes it will work on Cypher and I can get back to improving the program architecture. After this I want to implement the new parser, and then start on the tooling, as these were the parts th

[2021-01-27 01:19] ciozi137 commented on #16
Sorry, my question wasn't very specific. Adding GDSII was always part of the overhaul plan. It looks like you have implemented a "parser" class and svg implementation. If that's the case, How close are we to being able to add GDSII? And how difficult?

[2021-01-27 01:21] Monkeymerlot commented on #16
@ciozi137 I actually have looked into a GDSII parser in pretty close detail. It's not impossible it is just a lot less forgiving than an SVG parser.
Some key points:

- GDSII files have a lot of different components that we would probably use (like 40 or so iirc) compared to the two that we use in SVG files
- GDSII files have two formats: plain text and binary.
- We would have to figure out how we

[2021-01-27 01:31] ciozi137 commented on #16
Superb. I thought you have the parsing architecture built in but was confirming. We have started to use GDSII with the new EBL (using KLayout). It would be great to consolidate if possible. @aditi-nethwewala van chime in with which objects they are using and maybe even a layout file. I imagine we can implement a small subset of object types to begin with.

Is it possible to use an existing library

[2021-01-27 01:42] Monkeymerlot commented on #16
Some questions and more details:
First, I have attached the file where I was exploring GDSII parsing (I had to pull it out of my recycle bin, good thing I never clear it). It is really messy but I didn't want to put too much time into it because at that point it was only a side comment and we didn't have the EBL yet.

And there are no existing libraries for GDSII. I checked this summer and remembe

[2021-01-27 03:26] ciozi137 commented on #16
I see. So those 44 types would be like line, rectangle, polygon, etc. like I said I think we can get input from @aditi-nethwewala and @Nina-YDY about the most important objects to support. We don't need to support everything, especially not to begin with.

[2021-01-27 03:29] ciozi137 commented on #57
I can look at the build tomorrow. I have a slightly different solution for applications that are strictly exe/installer

[2021-01-27 03:44] Monkeymerlot commented on #16
Kind of? GDSII was created in 1978 so it isn't like a normal format that we would create today. It has some things like TAPENUM and TAPECODE that we obviously don't use today, but it's also mixed in with XY and PATHTYPE that we would use, as well as things like AREF and SREF which denote structure of the data. Looking at the spec again I don't think that it would be difficult to implement everythi

[2021-01-27 03:45] ciozi137 commented on #16
Posting some internet searches
- https://forums.ni.com/t5/LabVIEW/GDSII-lithography-mask-import-into-labview/td-p/3771331
- https://github.com/mikaeloduh/gds2ascii-tool-project (150 lines of python to convert GDSII to ascii...might be good template)
- https://metacpan.org/pod/GDS2 (Perl library)
- https://sourceforge.net/projects/gds2/ (C/C++ library)

[2021-01-27 03:49] ciozi137 commented on #16
GDSII is de facto standard for EBL and also for photolithography masks. They are made using KLayout (previously we used LayoutEditor but we've moved on finally...). I'm thinking it makes most sense to use KLayout for AFM patterns as well.

[2021-01-27 04:23] Monkeymerlot commented on #16
I actually have used Klayout before in Frolov's class so I knew what they are used for in the cleanroom etc. but wasn't sure what we were using them for in the lab. That makes sense, and I think that it is definitely worth it to write a parser for GDSII files so we could use either SVG or GDSII.

I also just took a look in KLayout and the only thing that would really be different in Klayout is tha

[2021-01-27 04:34] Monkeymerlot opened #58 "Page Selection is Allowed to Exceed Max Value"
Images from AFMs have "pages", ie multiple images contained in the data file. You can swap out the shown image by swapping out the page. However, if the page selected exceeds the number of images in the file, it will produce an error.

The user should not be able to select a page that doesn't exist, and if they do, it should revert to the last image ie the highest index.

So if there are 4 images,

[2021-01-27 04:36] Monkeymerlot commented on #58
Fixed in develop with commit 309d25c244c3818ee4f687ecbb40697ab26d58f2.

[2021-01-27 04:36] #58 closed

[2021-01-27 14:57] aditi-nethwewala commented on #16
[https://drive.google.com/open?id=13G46_LIk1l7Rz1UTramirEGyYAkse6yc&authuser=aditi.nethwewala%40levylab.org&usp=drive_fs](url)

Here is the link to one of my gdsii files. I have mainly been using polygons: which can be of random shapes (circle, rectangles, mix of all...) and lines

[2021-01-27 15:11] ciozi137 commented on #16
[Aditi_GDSII.zip](https://github.com/levylabpitt/AFM-Lithography/files/5881106/Aditi_GDSII.zip)

[2021-01-27 18:17] ciozi137 commented on #57
@Monkeymerlot I added a file called "Build AFM Litho Installer.vi". It's basically a simplified version of the "Auto Build Script". Make you sure you have the latest "Build Support" and "MakerHub Toolbox" packages

[2021-01-27 23:03] Monkeymerlot commented on #57
I needed to change `src` to `lvsrc`. Running it now.

[2021-01-27 23:12] Monkeymerlot commented on #16
There are a lot of different layers in this file. Is there an organization to these layers ie what do we want to use for writing?
![image](https://user-images.githubusercontent.com/37567672/106066649-2debfc80-60cb-11eb-9037-959de30cc428.png)

[2021-01-27 23:13] Monkeymerlot commented on #57
@ciozi137 Does this output an installer? I only can find the exe...

[2021-01-27 23:24] Monkeymerlot opened #59 "Add Support for GDSII Files"
Currently we use .svg (scalable vector graphics) files. However, with the addition of E-Beam Lithography to our arsenal, which uses the industry standard GDSII files, we would like to add support for GDSII files. Previous discussion is in Issue #16.

[2021-01-27 23:35] ciozi137 commented on #57
There should be an exe in the "builds/latest" folder. Which will be a self-extracting installer

[2021-01-28 00:09] Monkeymerlot commented on #57
This is what is in builds/latest for me:
![image](https://user-images.githubusercontent.com/37567672/106070792-1d3f8480-60d3-11eb-98e3-307f49648337.png)

In the builds/Application folder I have the new exe though:
![image](https://user-images.githubusercontent.com/37567672/106070848-39432600-60d3-11eb-8d04-ef9f1dcf941e.png)

[2021-01-28 00:19] ciozi137 commented on #57
How about the builds/installer?

[2021-01-28 00:21] Monkeymerlot commented on #57
It seems like all the other files updated but the installer itself. Let me check really quick if it works.
![image](https://user-images.githubusercontent.com/37567672/106071711-d6528e80-60d4-11eb-8b2f-acb7c75d3223.png)

[2021-01-28 00:22] Monkeymerlot commented on #57
Maybe I need to put in the correct number when I build it...
![image](https://user-images.githubusercontent.com/37567672/106071794-f84c1100-60d4-11eb-9c36-524191c25678.png)

I'll try that and get back to you.

[2021-01-28 00:26] ciozi137 commented on #57
Yes windows is smart about that actually. I’m not sure why the exe
installer wasn’t made. Did you see a blank command window pop up?

On Wed, Jan 27, 2021 at 7:22 PM Joseph Albro <notifications@github.com>
wrote:

[2021-01-28 00:28] Monkeymerlot commented on #57
That worked! And yes I did both times. It still says modified in February of last year but it installed the right thing so..

[2021-01-28 00:38] ciozi137 commented on #57
What says February?

[2021-01-28 00:53] Monkeymerlot commented on #57
The last modified date of the installer (setup.exe)

[2021-01-28 01:56] ciozi137 commented on #57
Doesn't sound right. The installer should be called something like "afm lithography-x.x.x.x.exe"

[2021-01-28 02:04] Monkeymerlot commented on #57
Yeah mine just days setup.exe. Have you tried building it?

[2021-01-28 02:07] Monkeymerlot commented on #57
When I built it with VIPM earlier this month it produced an installer called General AFM Lithography-8.6.0.8-install.exe

[2021-01-28 02:09] Monkeymerlot commented on #57
Im going to try building with the version as 8.6.0.9. I did not realize that the old attempts left behind an installer that was different than the current package number I had used (8.6.0.7)

[2021-01-28 02:12] Monkeymerlot commented on #57
Didn't change anything....

[2021-01-28 02:16] ciozi137 commented on #57
No I didn’t try it yet. I’ll try later tonight or tomorrow

On Wed, Jan 27, 2021 at 9:12 PM Joseph Albro <notifications@github.com>
wrote:

[2021-01-28 03:02] Monkeymerlot commented on #59
@ciozi137 Until we figure out how we are going to structure the data and how it will fit in with the Lithography program overall, I am going to build a GDSII viewer. The viewer part of it will be really easy to implement and it will let us check our work.

[2021-01-28 04:32] ciozi137 commented on #57
Had to install vision. Now getting FTD2 errors from relay box...

[2021-01-28 18:00] Monkeymerlot commented on #57
If you post a quick video on how you solved the bootstrapping issues, I can do a write up for the developer wiki... Just a thought.

[2021-01-28 18:04] ciozi137 commented on #57
K I'll have an update in a minute. Building now...

[2021-01-28 18:09] Monkeymerlot commented on #57
Ok perfect.

[2021-01-28 18:17] ciozi137 commented on #57
Simple fix: I forgot to wire the source path terminal:
![image](https://user-images.githubusercontent.com/26659428/106180717-ace44200-616a-11eb-9809-5862446decd2.png)

Output:
![image](https://user-images.githubusercontent.com/26659428/106180733-b40b5000-616a-11eb-8255-dab9940f8516.png)

Regarding the "date modified" of setup.exe in builds/installer, I think that is a generic binary like "labview.

[2021-01-28 18:37] Monkeymerlot commented on #57
Ok so I can build it, but now it is saying that the file is corrupt... (I have tried to build twice just to make sure it wasn't a fluke)
![image](https://user-images.githubusercontent.com/37567672/106183176-e66a7c80-616d-11eb-937d-50566a7e0e2e.png)

[2021-01-28 18:38] ciozi137 commented on #57
![image](https://user-images.githubusercontent.com/26659428/106183371-22054680-616e-11eb-8287-46a4787340d2.png)

[2021-01-28 18:39] ciozi137 commented on #57
try deleting your entire builds folder

[2021-01-28 18:58] Monkeymerlot commented on #57
Didn't fix the issue. It asks if I want to install it and then the error pops up. It seems like it might be something with the zipping?

And I think I might have found the problem:
![image](https://user-images.githubusercontent.com/37567672/106185536-f172dc00-6170-11eb-9388-b2d4fc735fe9.png)

[2021-01-28 19:04] Monkeymerlot commented on #57
I guess pressing OK on the "File is corrupt" dialogue probably cancelled the installation...

[2021-01-28 19:07] Monkeymerlot commented on #57
And I am reinstalling the file libraries used in the build support package. Then I'll check the project.

[2021-01-28 19:27] Monkeymerlot commented on #57
That didn't work. I am trying to build it with the project now...

[2021-01-28 19:28] Monkeymerlot commented on #57
Ok so the only thing that doesnt seem to work is the zipping and extraction. It builds the installer just fine from the project (even the script seems to work fine). Maybe I can just manually create a self extracting zip using 7zip?

[2021-01-28 19:39] Monkeymerlot commented on #57
@ciozi137 I found the issue. It is looking for 7 zip in `"C:\Program Files\7-Zip"`, but my location is `"C:\Program Files (x86)\7-Zip"`

[2021-01-28 19:41] ciozi137 commented on #57
The BAT file augments %PATH% with C:\Program Files\7-Zip. Sounds like either way 7z.exe wasn't in your path. Command line on Windows isn't so good...

[2021-01-28 19:45] Monkeymerlot commented on #57
Understatement of the past 3 decades...

[2021-01-28 19:49] Monkeymerlot commented on #57
It worked!

Changes made to write 7z.bat.vi:
![image](https://user-images.githubusercontent.com/37567672/106190650-f38c6900-6177-11eb-99e0-066df8962545.png)

[2021-01-28 19:51] ciozi137 commented on #57
Great!
If you want to take a stab at updating the "build support" package go for it. But you need to use LV2016

[2021-01-28 20:02] #57 closed

[2021-01-28 20:18] Monkeymerlot opened #61 "PID Loop Error in Igor"
![image](https://user-images.githubusercontent.com/37567672/106193461-8aa6f000-617b-11eb-8a4c-cb200e93b5ea.png)

[2021-01-28 20:29] Monkeymerlot commented on #61
Documentation for the function that is providing the error:
![image](https://user-images.githubusercontent.com/37567672/106194923-76fc8900-617d-11eb-9849-32bc42a6d42b.png)

This might be due to the fact that there is no controller connected to my computer.

[2021-01-28 20:32] Monkeymerlot commented on #61
This is not related to the EXE alone, it appears in both the development environment and the exe.

[2021-01-28 21:45] ciozi137 commented on #61
@Monkeymerlot have you installed the asylum software on your computer?

[2021-01-28 22:18] Monkeymerlot commented on #61
I have igor installed and it says MFP3D on the bottom? That might not be the software though. Tbh I've always had problems with getting the AFM software to work right and find the correct version etc.

[2021-01-28 22:33] Monkeymerlot commented on #61
So I guess I only have Igor:
![image](https://user-images.githubusercontent.com/37567672/106206689-7e785e00-618e-11eb-9cfb-37ed2559b1fc.png)

But when I open it up I get this:
![image](https://user-images.githubusercontent.com/37567672/106206701-86380280-618e-11eb-8723-c3cb7c9c312d.png)

But it looks like normal Igor when its finished loading except it says ARC not found and MFP3DXOP v34 up23 at t

[2021-01-28 22:37] ciozi137 commented on #61
Hmm sounds right. There used to be a way to open the asylum software that was separate from opening Igor only. I don't know if it's like that any more. Maybe you can post a screenshot when you have a chance and @aditi-nethwewala can chime in also

[2021-01-28 22:39] Monkeymerlot commented on #59
https://www.artwork.com/gdsii/gdsii/page5.htm
https://boolean.klaasholwerda.nl/interface/bnf/gdsformat.html

[2021-02-01 20:12] Monkeymerlot commented on #61
@ciozi137 Snagit to the rescue:
![image](https://user-images.githubusercontent.com/37567672/106512664-e802b000-649f-11eb-9c47-22593497b705.png)

[2021-02-01 20:17] Monkeymerlot commented on #55
While this seemed good at the time, I think that it might just be extra work.

[2021-02-01 20:17] #55 closed

[2021-02-01 20:18] ciozi137 commented on #61
Idk it looks half right - the toolbar at the bottom is good, but I think there should be "AR" menus on top.

[2021-02-01 20:18] Monkeymerlot commented on #45
@ciozi137 Has this been finished with the new build script?

[2021-02-01 20:22] Monkeymerlot opened #62 "Path Interpolation"
In Issue #54 I discussed the different types of interpolation. We came to the conclusion that the bottom right interpolation is for the paths overall. I think that it would be better if we could make each path have its own individual interpolation.
![image](https://user-images.githubusercontent.com/37567672/87253161-dcd62d00-c446-11ea-8571-c8a49e2e61dd.png)

[2021-02-01 20:25] Monkeymerlot commented on #25
With the new build, this should be ready for testing. Hopefully, everything is now in order and should work.

[2021-02-01 21:10] Monkeymerlot commented on #61
@ciozi137 Yeah I have no clue how to get the actual MFP3D software at this point. Is there a link to download it from oxford? I can't seem to find it.

[2021-02-01 21:18] ciozi137 commented on #61
@Monkeymerlot This is what I have on my home PC:
![image](https://user-images.githubusercontent.com/26659428/106519211-f73a2b80-64a8-11eb-8379-6daa69359c2b.png)

Try this link: https://support.asylumresearch.com/articles/software-downloads
you may have to register

[2021-02-01 21:51] Monkeymerlot commented on #61
I tried to install it but then nothing worked, not even igor, so I am going to remove everything and try again.

[2021-02-01 21:57] ciozi137 commented on #61
OK make sure you have the correct version of Igor. I don't know what AR wants but it is probably Igor 6 or 7

[2021-02-01 21:58] ciozi137 commented on #45
The location is specified in the project build specs in the project. The build script only produces the self-extracting installer

[2021-02-01 22:10] Monkeymerlot commented on #61
OK, so uninstalling Igor made the asylum software look correct, but then I couldn't connect to it with LabVIEW. So I reinstalled the Igor software _after_ I installed the asylum software, and now I can connect to LabVIEW as well. I still can't find that function in the help browser. Ill check if this works with the overall program and report back here.

[2021-02-01 22:14] Monkeymerlot commented on #61
Ok so I got a more detailed answer from Igor now that I think the software is correctly installed:
![image](https://user-images.githubusercontent.com/37567672/106524598-cc53d580-64b0-11eb-8339-798b286ac200.png)
So I think that we should keep an eye on this if it still comes up with the controller attached but otherwise I am satisfied with this explanation.

[2021-02-01 22:16] #61 closed

[2021-02-01 22:24] Monkeymerlot commented on #45
It looks like it was correct:
![image](https://user-images.githubusercontent.com/37567672/106525647-4a64ac00-64b2-11eb-8e6e-1f349c7c84db.png)

[2021-02-01 22:25] ciozi137 commented on #45
That looks good. How about the Start Menu shortcut?

[2021-02-01 23:47] Monkeymerlot opened #63 "Funnel Tooling Leaves Out One of the Boundary Curves"
I have been going through funnels to commands.vi, which is where the funnels are turned from SVG objects to a set of points for lithography. I finally sat down and went through the part of the code that actually calculates the path for the funnels.
![image](https://user-images.githubusercontent.com/37567672/106531927-278bc500-64bd-11eb-9b23-745b01c88e58.png)

And after some neatening and documenta

[2021-02-02 00:12] Monkeymerlot commented on #63
Math that I did by hand to check (X coordinates of arbitrary boundary curves chosen for convenience.)
Please note that the final values should be equal to the equation `(C1X/N)*I+(C2X/N)*(N-I)` (as evident from the screenshots of the cleaned up block diagram above).
[code]

[2021-02-02 00:53] Monkeymerlot commented on #63
Potential Fix:
![image](https://user-images.githubusercontent.com/37567672/106536672-f0221600-64c6-11eb-88c4-db7874c93030.png)

[2021-02-02 00:53] Monkeymerlot commented on #63
This is also probably the root cause of #43

[2021-02-02 01:15] Monkeymerlot commented on #16
Re: Glue Code:
I need to add logic to convert horizontal and vertical Lineto commands to normal Lineto commands. The coordinates are fine, but the command type will cause problems.

Fix:
![image](https://user-images.githubusercontent.com/37567672/106538344-1e552500-64ca-11eb-8801-7512fd56968b.png)

[2021-02-02 01:20] Monkeymerlot commented on #45
@ciozi137 The shortcut menu doesn't seem to be correct. I reopened this issue until this is fixed...
![image](https://user-images.githubusercontent.com/37567672/106538752-b8b56880-64ca-11eb-86ad-37eab3226953.png)
![image](https://user-images.githubusercontent.com/37567672/106538772-c10da380-64ca-11eb-94ec-cfdfccf10f58.png)

[2021-02-02 01:23] ciozi137 commented on #45
I'll look at it tomorrow. It should be simple to fix. It can be tricky to get the shortcuts right

[2021-02-02 23:15] #63 closed

[2021-02-02 23:23] ciozi137 commented on #45
@Monkeymerlot just updated develop branch. There was also a merge commit, I tried to take your changes but just double check.

[2021-02-02 23:47] Monkeymerlot commented on #45
It seems like it merged smoothly. I wasn't working on that file so we should be good.

[2021-02-03 03:25] Monkeymerlot commented on #59
@ciozi137 I am having trouble with some number conversions (probably because LabVIEW is 32 bit and this number is 64 bits). There are two numbers as explained [here.](https://boolean.klaasholwerda.nl/interface/bnf/gdsformat.html#rec_units)
Further up in the [page](https://boolean.klaasholwerda.nl/interface/bnf/gdsformat.html#datatypes) there is also an explanation about how to read them.

I wrote

[2021-02-03 03:31] ciozi137 commented on #59
Which recordtype code are you having trouble with? I can look into this more tomorrow. Also point me to your test files

[2021-02-03 03:38] Monkeymerlot commented on #59
I forgot to attach the test files! And the Unit Record type right now but this is used for other important record types as well.
[GDSII.zip](https://github.com/levylabpitt/AFM-Lithography/files/5915949/GDSII.zip)

[2021-02-03 04:06] ciozi137 commented on #59
Agree it's good to work this out on one datatype first. I don't think 32/64 bit labview should be an issue

[2021-02-03 05:49] Monkeymerlot commented on #59
From https://github.com/heitzmann/gdspy:
(https://github.com/heitzmann/gdspy/blob/master/gdspy/gdsiiformat.py)
[code]

I did some more searching and it seems to be that this is not even a normal standard format.

[2021-02-03 19:35] ciozi137 commented on #59
@Monkeymerlot I think I got it! I'll send the code back to you for you to look at. Here are a few comments:
1. The string data didn't make any sense to me with respect to the GDSII description, so I read as byte array (I think this also makes parsing faster later)

![image](https://user-images.githubusercontent.com/26659428/106798689-54aab580-662c-11eb-84c0-163cf412df83.png)

2. I separate Record

[2021-02-03 19:36] ciozi137 commented on #59
[GDSII-patrick.zip](https://github.com/levylabpitt/AFM-Lithography/files/5921025/GDSII-patrick.zip)

[2021-02-03 19:40] Monkeymerlot commented on #59
Sweet! And there are 44 record types, do you can combine the record type with the data type into one code. I was thinking that it would help in the future for structuring the data but your way looks much cleaner.

[2021-02-03 19:49] ciozi137 commented on #59
The other thing I forgot to mention is with reading binary file you can control endianness, but I don't think that ended up being necessary.

[2021-02-03 20:17] Monkeymerlot commented on #59
Ok so I finally got a chance to look at the VI you sent (I was cooking stuff) and the only issue is that the value for `UNITS` is still incorrect. It should be two values, the first of which is 0.001 and the second is 1e-9. The format for the GDSII file 8 byte real is (sign)* mantissa * 16^exponent, while the exponent uses excess 64 notation, while the format for normal double precision (IEEE-754)

[2021-02-03 20:23] ciozi137 commented on #59
OK I will look again.

[2021-02-03 21:25] Monkeymerlot commented on #45
![image](https://user-images.githubusercontent.com/37567672/106811476-6005dd00-663c-11eb-908d-c6d63ecc8263.png)
It looks good now...

[2021-02-03 21:25] #45 closed

[2021-02-03 23:09] ciozi137 commented on #59
@Monkeymerlot ok so there **is** something called "Excess-64" representation. I tried to get it working (see attached; it works for some 4-byte-test cases), but...tag you're it.
[Patrick Excess-64.zip](https://github.com/levylabpitt/AFM-Lithography/files/5922085/Patrick.Excess-64.zip)

[2021-02-03 23:15] Monkeymerlot commented on #59
OK thanks for the help. Who would have guessed the very thing that has kept gdsii relevant (defining its own datatypes, well defined structure) would be what is holding us back 40 years later...

[2021-02-03 23:21] ciozi137 commented on #59
@Monkeymerlot see if you can understand what I coded. I tried to add enough comments to make it comprehensible. I think there is something obscure like a MSB/LSB issue. Also I think the Excess-64 is standard for CS people

[2021-02-03 23:37] Monkeymerlot commented on #59
From https://jupiter.math.nctu.edu.tw/~weng/courses/IC_2007/PROJECT_NCTU_MATH/CELL_LAYOUT/The%20GDSII%20Stream%20Format.htm
[code]

Well using this source and what you had + some internet binary converters I was able to get the correct answer:
![image](https://user-images.githubusercontent.com/37567672/106823276-a49a7400-664e-11eb-9cdf-5bd076d61f52.png)
So I think that we are almost there...

[2021-02-03 23:57] ciozi137 commented on #59
@Monkeymerlot I should have pasted my results. It looks like I had some copy paste errors with my test numbers. 0 is still not working. And I think I still have issues converting the binary number from the file to bits in LV, but maybe you have that issue worked out:
![image](https://user-images.githubusercontent.com/26659428/106824808-94d05f00-6651-11eb-97f0-f3c79c637d0d.png)

[2021-02-04 00:38] Monkeymerlot commented on #59
OK I think I just had a breakthrough so I will post something shortly...

[2021-02-04 00:51] Monkeymerlot commented on #59
I finally got it! Wow this turned out to be way more difficult because of MSB/LSB (you were right).
![image](https://user-images.githubusercontent.com/37567672/106828762-d31d4c80-6658-11eb-9003-8a22ea15f2ef.png)
![image](https://user-images.githubusercontent.com/37567672/106828776-db758780-6658-11eb-86df-efd102251274.png)

[2021-02-04 01:04] Monkeymerlot commented on #59
Actually that isn't quite right. There needs to be a reverse array after the delete from array. As luck would have it, the number was 0111110...

[2021-02-04 01:12] ciozi137 commented on #59
Oh nice I didn't realize you could set the output format of Boolean array to number. I think that is good to know and will be helpful.

[2021-02-04 01:21] Monkeymerlot commented on #59
Before I figured it out I was just using a loop and manually finding the number like this:
![image](https://user-images.githubusercontent.com/37567672/106830896-f1854700-665c-11eb-894b-c1a84e386a34.png)
but was getting the same wrong answer... so then I realized it wasn't the format but probably the way that LabVIEW was reading it because I could also convert to a string in this loop, concatenate

[2021-02-04 05:25] ciozi137 commented on #59
@Monkeymerlot I think I'm getting closer: [GDSII-patrick-2.zip](https://github.com/levylabpitt/AFM-Lithography/files/5923392/GDSII-patrick-2.zip)

![image](https://user-images.githubusercontent.com/26659428/106848059-28b82000-667e-11eb-8667-a4458963420d.png)

![image](https://user-images.githubusercontent.com/26659428/106848143-58ffbe80-667e-11eb-952a-a2ec63ae061e.png)

[2021-02-04 05:35] ciozi137 commented on #59
@Monkeymerlot now re-reading your [comment ](https://github.com/levylabpitt/AFM-Lithography/issues/59#issuecomment-772945091) from 5 hours ago...I can't tell if you were able to get everything working or not lol

[2021-02-04 05:45] Monkeymerlot commented on #59
@ciozi137 Yes I was, my comment didn't seem to get posted... Sorry if you have been working on this all night...

Comment that didn't get posted:

Got it to work! Added for loop to account for multiple numbers if the array is bigger than 8 bytes as well:
![image](https://user-images.githubusercontent.com/37567672/106850119-edb7eb80-6681-11eb-97f3-699c87c525e3.png)

[ConvertByteArrayToGDSII8ByteRea

[2021-02-04 05:51] ciozi137 commented on #59
That's ok. Be careful here because a negative exponent is allowed, but you'll get something else if you don't convert to I8 first.
![image](https://user-images.githubusercontent.com/26659428/106850699-02e14a00-6683-11eb-9bf0-be570b3e2254.jpeg)

Or see my post earlier

[2021-02-04 06:10] Monkeymerlot commented on #59
@ciozi137 Yeah my window by my desk started dripping water from the snow so I guess in the midst of fixing that it didn't get posted...
![image](https://user-images.githubusercontent.com/37567672/106851063-a16dab00-6683-11eb-8714-8f306a4f30c5.png)
I have it set to i32 for the output, but it will always be a number between 0 and 127, which is why you have to subtract 64 from it (I just realized tha

[2021-02-04 15:16] ciozi137 commented on #59
@Monkeymerlot I had been keeping everything U64 to try to be consistent but then the exponent bias bit me because subtract won't convert to I64. I guess that datatype there is properly U8 --> I8

[2021-02-04 20:15] Monkeymerlot commented on #16
Next step: Path, Rectangle, Funnel Settings located in an SMO that acts like a database. We can find any shared resource generically without having to be an SMO:
![image](https://user-images.githubusercontent.com/37567672/106949958-b4bc5d00-66fb-11eb-917b-f58dd1c704ae.png)

This would help get rid of the global variables and monster clusters for the settings.

[2021-02-04 20:46] Monkeymerlot commented on #16
Here is the flow I was thinking:
![image](https://user-images.githubusercontent.com/37567672/106953181-11217b80-6700-11eb-9097-b60fccd099e8.png)

[2021-02-06 01:23] Monkeymerlot commented on #16
@ciozi137 I have a rough working SMO for implementation of this but for paths only atm. I am thinking about opening another branch and seeing how well this works with paths...

Class Hierarchy (Only the "Object" Class + Decendents and the singular SMO)
![image](https://user-images.githubusercontent.com/37567672/107104350-3e992280-67ef-11eb-97c3-d6a9b0028fe0.png)

On the Refresh paths (or initializ

[2021-02-06 04:22] Monkeymerlot opened #64 "Add a Save Image for IMAQ Control + Better User Experience"
Right clicking on the IMAQ control gives you the option to save:
![image](https://user-images.githubusercontent.com/37567672/107108146-ea4c6d80-6803-11eb-8e1f-03f17feb4869.png)
I think that having a save button, with a pop up dialogue for a filename would be pretty awesome and helpful for everyone. It will allow us to provide images that we can share during group meeting.
![image](https://user-ima

[2021-02-06 04:22] #64 closed

[2021-02-07 22:06] Monkeymerlot opened #65 "Anti Aliasing IMAQ Overlay"
LabVIEW has no native way to provide anti aliasing. This means that our graphics look pixellated when we draw our Lithography overlay atop. I am curious to see if antialiasing would work well with this to provide a nicer looking UI and graphics that reveal the path more clearly.
![image](https://user-images.githubusercontent.com/37567672/107160834-a6be4480-6966-11eb-86f6-20b924cd0d29.png)

https:/

[2021-02-08 03:48] Monkeymerlot opened #66 "Use INI File for Default Settings Throughout program."
We currently only have a few settings that we use for default settings eg the file paths. But I think that certain settings, such as microscope setpoints etc should be also kept in the INI file.

[2021-02-08 23:10] Monkeymerlot commented on #16
## New dialogue using events:
Note that this is a mockup (not even proof of concept)
Setting Dialogue Box
![image](https://user-images.githubusercontent.com/37567672/107292212-74c8e300-6a37-11eb-86c9-bd9c444bc72f.png)
Update information in database
![image](https://user-images.githubusercontent.com/37567672/107292445-dab56a80-6a37-11eb-8dc0-eebc04ec436d.png)
User selected a different path
![image]

[2021-02-08 23:12] ciozi137 commented on #16
@Monkeymerlot is "Path Settings" a class wire?

[2021-02-08 23:14] Monkeymerlot commented on #16
@ciozi137 Yes. It inherits from Object Settings:
https://github.com/levylabpitt/AFM-Lithography/issues/16#issuecomment-774370749

[2021-02-08 23:15] ciozi137 commented on #16
ok I see.

[2021-02-08 23:19] Monkeymerlot commented on #16
Inside of Schedule Selector:
![image](https://user-images.githubusercontent.com/37567672/107293515-b9ee1480-6a39-11eb-9ade-acac99c46704.png)
Inside the Formula Edit Dialogue:
![image](https://user-images.githubusercontent.com/37567672/107293552-d1c59880-6a39-11eb-87bc-e820555d1ffa.png)

I have a class wire there for object settings, but I actually ended up not using it because I wanted this to be

[2021-02-09 00:20] Monkeymerlot commented on #16
For the SMO based parser interface glue, my last correction was not actually sufficient. The command was corrected but there was still a matter of the actual points:
![image](https://user-images.githubusercontent.com/37567672/107298038-9ed3d280-6a42-11eb-8177-3ff016fe33c8.png)

[2021-02-10 22:59] Monkeymerlot commented on #16
New UIs:
![image](https://user-images.githubusercontent.com/37567672/107581531-33b30900-6bc6-11eb-914f-3f3c3244e088.png)
![image](https://user-images.githubusercontent.com/37567672/107582151-19c5f600-6bc7-11eb-95c6-9eb5dfe81ab1.png)
![image](https://user-images.githubusercontent.com/37567672/107584010-c0ab9180-6bc9-11eb-8e2d-5e77e2856447.png)

[2021-02-10 23:16] Monkeymerlot commented on #16
@ciozi137 I want to implement the parser in the main project. I should make a new branch, get it working, and then merge into develop correct?

[2021-02-11 00:23] ciozi137 commented on #16
Yes that sounds good

[2021-02-11 03:03] Monkeymerlot commented on #16
@ciozi137 Ok that was actually a pretty painful experience (there was a case structure that was case sensitive match and it was causing a bug wayyy down the road), but I think that it is good now. Could you take a look sometime tomorrow (Thursday)? Basically just run it and make sure that it is working correctly on your machine?

[2021-02-11 17:47] #66 closed

[2021-02-11 18:01] Monkeymerlot commented on #62
@ciozi137 I made it so each path has it's own interpolation (located at the top of subpanel), instead of one for all paths.
![image](https://user-images.githubusercontent.com/37567672/107678227-23a03580-6c69-11eb-9886-766a73094333.png)

[2021-02-11 18:03] #62 closed

[2021-02-12 15:11] ciozi137 commented on #16
@Monkeymerlot I didn't look too closely at this yet. I was able to open it and don't see any broken run arrows.
 - What specifically would you like me to check?
   - Do you need me to try SVG files or sending commands to Igor?
   - It might be better for @aditi-nethwewala to try this out somewhere since she uses the software much more than me.
 - (btw were you able to get the Asylum software insta

[2021-02-12 16:55] Monkeymerlot commented on #16
I mostly wanted to make sure that LabVIEW could find everything. I had moved files from the "ParseTesting" project to the main project. Just like with the AFM_Driver_Manager, where after moving it it broke a bunch of stuff for you but not for me iirc.

[2021-02-12 17:35] ciozi137 commented on #16
Ok got it. No broken run arrow is pretty telling I think in that case

[2021-02-12 19:29] Monkeymerlot commented on #16
Perfect, that's what I was looking for. Functionality testing wise I don't like wasting people's time so that's why I write tests (for the parser there is literally 124+ of them), but I can't test if LabVIEW is acting erratically when I move things around or change owning projects.

[2021-02-12 22:19] Monkeymerlot commented on #16
Proof of concept using the path edit is now posted in the "Event Based Settings" Branch. I am going to continue to make modifications and get this working for all of the different object types. Then we should be really close to getting rid of most of the global variables. After the settings, its just these three which I haven't investigated yet:
![image](https://user-images.githubusercontent.com/3

[2021-02-16 20:50] Monkeymerlot commented on #16
I have been working on a way to generate a class from an ini file that is both readable and modular in terms of programming. This is because currently it just pops up as whatever the default values in the class are, which can also cause problems for other sections of the program (like an interpolation value of 0 for example)

This is what I came up with for Path Settings.
![image](https://user-ima

[2021-02-16 21:15] Monkeymerlot commented on #16
@ciozi137 I had to add a false constant to the first method inside of Read Configuration to get this to work, otherwise it does not write anything to the file.
![image](https://user-images.githubusercontent.com/37567672/108121383-ba596180-7070-11eb-8d9a-b95ee7579b3d.png)

Even with that fix I am still having trouble getting both sections to write to the file. All I get is the default object, and t

[2021-02-16 22:18] ciozi137 commented on #16
@Monkeymerlot what is the path of the ini file you're trying to write?

[2021-02-16 22:30] Monkeymerlot commented on #16
@ciozi137 So for my computer it is `C:\ProgramData\levylab\AFM_Lithography` but its generated like so:
![image](https://user-images.githubusercontent.com/37567672/108129635-78ceb380-707c-11eb-93c5-e79869649d3d.png)
and then Path.ini is the string for the filename

[2021-02-16 22:41] ciozi137 commented on #16
so there is no issue with writing to that location?

On Tue, Feb 16, 2021 at 5:30 PM Joseph Albro <notifications@github.com>
wrote:

[2021-02-16 22:49] Monkeymerlot commented on #16
Like in terms of permissions? None at all.

[2021-02-16 23:24] ciozi137 commented on #16
Ok. Not sure yet why it's not writing your cluster. I'll look at it when I have a chance

[2021-02-16 23:58] Monkeymerlot commented on #16
OK I think figured out the problem.
![image](https://user-images.githubusercontent.com/37567672/108136585-56db2e00-7088-11eb-8827-9144cadf2199.png)
So if the section is not found, it doesn't do anything, as it wont generate an error. But what should happen is that if nothing is found, then it should also write to the file.

Potential fix:
![image](https://user-images.githubusercontent.com/37567672

[2021-02-17 01:42] ciozi137 commented on #16
@Monkeymerlot nice! thanks

[2021-02-17 02:52] Monkeymerlot commented on #16
I can see about making the necessary changes to the configuration repository tomorrow. I'll go into more detail about the proposed long term changes there (since I already see a bunch of flaws with what I have here).

[2021-02-18 22:08] Monkeymerlot commented on #16
Setting Database is now implemented in the Event Based Settings branch for all objects (rect, path, funnel). I think the choice of just one setting database added a lot of extraneous work in retrospect so I might go back and modify it to be more simpler...

[2021-02-24 22:06] Monkeymerlot opened #69 "Consistent Path Interpolation"
So recently I had moved the interpolation to each individual path instead of a global setting. And in my investigations of the tooling (which I am currently in the process of turning into an SMO) I realized that for cubic beziers (which are almost certainly in the path data if your path is curved at all) there is a number of points -- not distance like overall interpolation for the path-- for the

[2021-02-24 22:08] Monkeymerlot commented on #69
@ciozi137 @aditi-nethwewala @Yh-lab Let me know what you guys think of this idea.

[2021-02-25 00:45] ciozi137 commented on #69
@Monkeymerlot and others, is the AFM only capable of drawing straight lines between vertices? And how do we determine what is an acceptable number of points or spacing between points?

[2021-02-25 01:30] Monkeymerlot commented on #69
So I can answer the first part, but someone else will have to chime in for the second. The asylum microscopes do have a cubic spline interpolation option, however, the driver is written to use this type of interpolation, and I think that adding it would be a lot of work for possibly very little if any difference, as I wouldn't know how to make it general between any other type of microscope.

[2021-02-26 06:37] Monkeymerlot commented on #16
Added Tests for the Settings Database. They are kind of complicated though because of the event based asynchronous messaging complicated things quite a bit. I did find a few bugs which I fixed and I also updated the icons for the VIs from the generic ones that JKI provides.
![image](https://user-images.githubusercontent.com/37567672/109263846-fbb8e200-77d1-11eb-8757-31c6dec66a6c.png)
Example Tests

[2021-02-26 13:05] ciozi137 commented on #16
@Monkeymerlot I think I see more or less what is going on. Few comments:
- I don't quite understand sending the event twice to avoid a race condition. Could you just wait for the SMO to start before firing the event?
- I think you should register for public events *before* starting the process
- All that being said I don't see a process here...but I also understand that you are doing a unit test h

[2021-02-26 20:46] Monkeymerlot commented on #16
Ok so I think that I'll put some light commenting for the more complicated parts but I definitely don't need to put as much as I thought I might have had to.
To answer your questions:
1. I am not sending an event twice, I am receiving the same event twice as the result of two different actions. Basically, if I use the refresh method, I am telling the database to (re)initialize the different object

[2021-02-26 23:36] Monkeymerlot opened #70 "Flash on Startup Due to Asynchronous Messaging of Settings"
The render will flash on start up because the settings that are retrieved are done so asynchronously, so at the beginning it will try and use the default input in the tool path method, while the current default has the paths disabled. (of course this can change but I am mainly highlighting the fact that new settings are not retrieved on the refresh macro)
![2021-02-26_18-26-51](https://user-images

[2021-02-27 01:58] #33 closed

[2021-02-27 02:47] Monkeymerlot commented on #70
Fixed in commit 1eece53

[2021-02-27 02:47] #70 closed

[2022-02-21 19:34] Monkeymerlot opened #71 "Saved IMAQ Overlays are Thin"
For saved pictures, the lines are incredibly thin. Look into making them thicker so we can actually see them.

![image](https://user-images.githubusercontent.com/37567672/155016480-32b2b5e3-4686-43f3-b404-499a613cd85b.png)

[2022-02-21 20:38] Monkeymerlot commented on #71
Might be related to the resolution being set to 4096.
![image](https://user-images.githubusercontent.com/37567672/155018124-d4b94c3f-3795-4bbc-90fc-f286b543a47a.png)

Confirmed by switching resolution to 512:
![image](https://user-images.githubusercontent.com/37567672/155018737-853af30d-b52d-4fcc-96e8-6f21593ca9c7.png)

Potential fix:

Read off the resolution from the image when we draw the overla

[2022-02-21 21:01] #71 closed

[2022-03-17 21:54] Monkeymerlot commented on #29
X and Y PID loops are 50 kHz, not necessarily Output A that is the limiting factor. From the Asylum Software Manual (page 189):
![image](https://user-images.githubusercontent.com/37567672/158900971-b330292e-e4d7-4ffd-aba5-2201caf327da.png)

[2022-03-17 21:54] #29 closed

[2022-03-17 21:57] Monkeymerlot commented on #54
The interpolation is for paths and has been changed to be on each path interpolation. The driver interpolation is what Yuhe mentioned.

[2022-03-17 21:57] #54 closed

[2022-06-01 20:14] ciozi137 opened #74 "Program is not happy with empty paths"
At startup the program asks for paths to SVG and IBW files. If the user cancels there will be many downstream complaints from IMAQ because it won't have an image to display

![image](https://user-images.githubusercontent.com/26659428/171493270-c484023d-8136-40fa-88f4-d9b7bac05e0e.png)

[2022-06-01 20:27] Monkeymerlot commented on #74
@ciozi137  I am thinking a much bigger redesign since the start up routine is pretty bad but will get better when I can find time to fully switch to SMOs. For now I'm thinking of maybe using a test file? Possibly creating it from a constant in a VI and saving it to the location that I save the ini files to? Then deleting it at the end?

[2022-06-01 22:17] ciozi137 commented on #74
Yay merge conflicts to fix. I'll work on it later/tomorrow.

[2022-06-02 01:09] Monkeymerlot commented on #74
What were you working on in regards to the code for the lithography project? I did a bunch of stuff with the configuration (to make it both human readable and LabVIEW version agnostic) and the path handling here.

[2022-06-02 01:18] ciozi137 commented on #74
I only fixed a reference to a 2020 file it was looking for (mgi exe
version). So I can easily discard my changes

On Wed, Jun 1, 2022 at 9:09 PM Joseph Albro ***@***.***>
wrote:

[2022-06-02 01:19] ciozi137 commented on #74
Ps, also updated the vipb and vipc files. Again easy to redo

On Wed, Jun 1, 2022 at 9:18 PM Patrick Irvin ***@***.***> wrote:

[2022-06-02 02:22] Monkeymerlot commented on #74
OK was that in the Test EXE? I just got rid of that.

[2022-06-02 02:40] ciozi137 commented on #74
Yes

[2022-06-02 12:58] ciozi137 commented on #74
@Monkeymerlot I just pushed a few commits. There is an issue building that traces back to the Relay Box. abortLitho_* is looking for a Relay Box VI that does not exist in the repository. I will go hunting

[2022-06-02 14:53] Monkeymerlot commented on #74
@ciozi137 is this the old driver? Or the new one?

[2022-06-02 14:55] ciozi137 commented on #74
by "driver" you mean AFM or Relay Box? I found the Relay issue - I need to to build a new package shortly

[2022-06-02 18:25] ciozi137 commented on #74
Relay Box is overhauled.
- AFM Lithography project will now successfully preview the exe build.
- VIPM build fails...I think there are lingering LV2020 files in the source directory

[2022-06-02 18:28] ciozi137 commented on #74
I'm trying mass compile now

[2022-06-02 19:27] ciozi137 commented on #74
Mass compile uncovered some errors. I fixed a few. Compiling again

[2022-06-02 20:09] ciozi137 commented on #74
@Monkeymerlot i think it's time for you to look. I would run mass compile on lvsrc or the entire repository and see what errors pop up. My hunch is that there are some classes or VIs that didn't get back saved.

[2022-06-02 21:38] Monkeymerlot commented on #74
For some reason flipped out at the configuration package from the instrument framework. Reinstalling the framework on 2019 and uninstalling it on 2020 seemed to fix the issue. Then for another odd reason any of the dialogue boxes that were in just AFM_Lithography.vi did not get recognized? Super weird. Attempting to mass recompile now...

[2022-06-02 22:13] Monkeymerlot commented on #74
Got everything in lvsrc to compile:
[code]

Now I'm going to try the entire repository...

[2022-06-02 22:18] Monkeymerlot commented on #74
Removing AFM Control folder.

[2022-06-02 22:21] Monkeymerlot commented on #74
Everything in repository compiles now:
[code]

Going to push a commit and try a build.

[2022-06-02 22:33] Monkeymerlot opened #76 "Switch from LabVIEW 2020 to LabVIEW 2019"
This has caused a lot of compilation errors.

[2022-06-02 22:34] Monkeymerlot commented on #76
See:

https://github.com/levylabpitt/AFM-Lithography/issues/74#issuecomment-1144198537

for details.

[2022-06-02 22:36] Monkeymerlot commented on #76
@ciozi137  I switched to a more appropriate issue. I just got the following during building, which up until that point seemed like it was going fine:
![image](https://user-images.githubusercontent.com/37567672/171749495-01771bd3-c8ce-4101-b54c-2d690d374f53.png)

I am going to investigate the issue and try again...

[2022-06-02 22:38] Monkeymerlot commented on #74
It did not open up LV 2020 this time. And seemed to build up until the last part so I will take a look at it and then try again.

[2022-06-02 22:50] Monkeymerlot opened #77 "Move Tests to Tests Folder"
Repository normally:
![image](https://user-images.githubusercontent.com/37567672/171750634-933b59f8-cbc0-48cc-94ae-530df33740ab.png)

There is a testing project in Parse
![image](https://user-images.githubusercontent.com/37567672/171750717-46140da6-7059-4e29-a0fb-a69e6e3f679d.png)

And another in Settings:
![image](https://user-images.githubusercontent.com/37567672/171750775-32d177f8-a743-4211-9cc

[2022-06-02 22:59] ciozi137 commented on #76
Ok. I would try to build the application and installer from the project first. And then run the vipb builder. Sometimes the labview installer needs to be initialized somehow the first time you build something.

[2022-06-02 23:01] Monkeymerlot commented on #76
Ok trying that now!

[2022-06-02 23:49] Monkeymerlot commented on #76
OK it worked but I'm not convinced that was actually the correct solution...

[2022-06-03 00:45] ciozi137 commented on #76
The lockin or the afm?

[2022-06-03 00:46] Monkeymerlot commented on #76
The AFM. Lithography used to be available from the start up folder previously.

[2022-06-03 01:46] Monkeymerlot commented on #76
I added this to the installer build spec so hopefully it will fix the issue:
![image](https://user-images.githubusercontent.com/37567672/171770919-7179bbd8-5932-4863-84a3-57ee30a8df4f.png)

[2022-06-03 10:41] ciozi137 commented on #76
@Monkeymerlot Building worked on my computer this morning (I did not disable the progress bar):
<img width="756" alt="Screen Shot 2022-06-03 at 6 35 53 AM" src="https://user-images.githubusercontent.com/26659428/171838366-f0bda0df-beb2-48a6-9273-b322891ed1c9.png">

Start menu location looks good:
<img width="306" alt="Screen Shot 2022-06-03 at 6 40 09 AM" src="https://user-images.githubusercontent

[2022-06-03 10:47] ciozi137 commented on #74
Getting back to the empty paths issue...I propose that the program stores some default data and we just load that if the user loads something that is not a valid file

[2022-06-03 11:35] Monkeymerlot commented on #74
I implemented that if the filename doesnt fit the requirement ie not ibw, svg but I think it'd make sense for the parser to have access to this functionality as well just in case the file itself doesn't conform or there is a parsing error. Also another question is what happens when there is no objects in the file? It would make sense to display nothing but I have to think about how to handle the s

[2022-06-03 11:36] ciozi137 commented on #74
Ok but it didn't work in the exe. I think the file needs to be included a different way

[2022-06-03 11:49] Monkeymerlot commented on #74
Can you check /programdata/levylab/AFM Lithography for default.svg or ibw?

[2022-06-03 11:58] ciozi137 commented on #74
![image](https://user-images.githubusercontent.com/26659428/171849269-802bb63b-2f07-4ba9-97b5-7d183bd49b05.png)

[2022-06-03 12:00] Monkeymerlot commented on #74
Ok it didn't even write the file. I'll look into this.

[2022-06-03 12:45] Monkeymerlot commented on #74
@ciozi137 OK so it works for my computer but I think my solution was a bit fragile so I am going think of a better implementation.
![image](https://user-images.githubusercontent.com/37567672/171855600-e8fec8f5-1acc-4aa1-9eef-4aa8d1686306.png)

[2022-06-03 13:27] ciozi137 commented on #74
OK can you push your changes? Do you think it's ready to post a new release?

[2022-06-03 13:54] Monkeymerlot commented on #74
They are already pushed and were in your build. The fix doesn't seem to be really good as of now. That said, I do think we are ready for a new release.

-I fixed a major setpoint issue with the asylum driver.

-I fixed an error in the parser (I misunderstood the CSS transformation matrix ordering when I initially wrote the tests, so I had the matrix in the wrong order).

-I added checks to ensure

[2022-06-03 13:57] ciozi137 commented on #74
Oh I see. I will look into the Default files issue. There might be something we can do in the build settings. I can then build a new version and post.  10.1 or 10.0.1?

[2022-06-03 14:06] Monkeymerlot commented on #74
Ok. I think the default files thing is just me assuming a certain order to how someone would approach the file location.

10.0.1 as these are mostly bug fixes or cosmetic improvements. 10.1 will probably be IV curves, QDs and maybe a general plugin architecture? In 10.0 I also want to implement the recording of data, and get IV curves into a stable beta state (so I can get results for my prelims).

[2022-06-03 14:17] Monkeymerlot commented on #74
Added check if they exist or not in commit 07fadcfc2ae172b20433a66bc310a3618c3df009

[2022-06-03 16:11] ciozi137 opened #78 "Error in Setting Active Database"
![image](https://user-images.githubusercontent.com/26659428/171903860-b9c961f5-201f-499e-a450-28132c109166.png)

This happens during `Macro: Start Driver` called by `Macro: Initialize`

[2022-06-03 16:41] Monkeymerlot commented on #78
Replicated previously. Only happens for certain files, most notably when parsing circles (stand in for dots) sometimes. I have a file that causes this issue so I was going to debug it at some point but the initialize sequence is a huge mess right now because of the way I have asynchronous (for idle state of the program) and synchronous (for the start up routine, refresh routine) events set up. I'l

[2022-06-03 16:43] ciozi137 commented on #78
This happens for me at startup with the Default files. ...Actually before any files are loaded I think

[2022-06-03 17:21] Monkeymerlot commented on #78
You are correct. Just found the issue. `UI: Update Subpanel` calls `Database: Set Active >> %d` but we haven't parsed any files yet until we run `Macro: Refresh`, which is called after `Database: Set Active >> %d` in this case.

I hope you see what I mean by the start up routine is a mess. The main program is in between two architectures and doing them both poorly at the moment. I would love to ha

[2022-06-03 17:58] Monkeymerlot commented on #78
For now I am going to add an additional state for setting active values that takes an empty string an does nothing. That error was intended to prevent mistyped states (like `c` as in circle instead of `d` as in dot or `s` as in square instead of `r` for rectangle). It also served as a reminder that I needed to set the active value in the settings database when adding new objects to the program (su

[2022-06-03 18:06] ciozi137 commented on #78
Ok good I'm glad you found the error. I understand the hesitation to keep fixing bugs when the entire architecture will get updated in the future.

If it's ready I can build 10.0.1?

[2022-06-03 18:10] Monkeymerlot commented on #78
I still need to implement the fix. Give me like 10 minutes and I should be ready.

And yeah the biggest issue is that some bugs are like fundamentally a bug, like they are bad programming, and some of them are just that we have asynchronous stuff mixed in with synchronous stuff and UI events and a lot of really fragile legacy code.

Another potential culprit (saving for later)
![image](https://use

[2022-06-03 18:13] Monkeymerlot commented on #78
@ciozi137 fix is pushed. I guess I only needed 2 minutes...

[2022-06-03 18:32] ciozi137 commented on #78
Awesome! This version starts without errors - those startup errors are very unnerving.

[2022-06-03 18:32] #78 closed

[2022-06-03 18:48] ciozi137 commented on #76
@Monkeymerlot  building with Patrick builder now. With any luck in half an hour there will be magically be a new release on GitHub

[2022-06-03 19:38] Monkeymerlot commented on #76
Is it done? I see the tag but it doesn't have an exe is why I am curious..
![image](https://user-images.githubusercontent.com/37567672/171937851-22731c3a-34c1-4724-aa16-136e7267aadc.png)

[2022-06-03 19:44] ciozi137 commented on #76
@Monkeymerlot  Everything worked up until publishing the release ("gh create release <>...". I'm not sure about the error it gave me. I had to do the release by hand: https://github.com/levylabpitt/AFM-Lithography/releases/tag/v10.0.1.1

git flow worked great:
![image](https://user-images.githubusercontent.com/26659428/171938886-e53262ba-b862-4a13-9d63-5abdeaed2fa8.png)

[2022-06-03 21:17] Monkeymerlot commented on #76
That release looks so clean! I definitely want to go through Patrick Builder at some point. And I actually found an error (really small issue I forgot to update when I switched from variant attributes of any data type to variant attributes consisting of JSON strings) but its with the IV Curve Plugin and it wont work otherwise so I am performing another build.

@ciozi137  Should  I just update the

[2022-06-03 21:20] ciozi137 commented on #76
Let me run my builder again. I want to see if it works or get a better look at the error

[2022-06-03 21:21] Monkeymerlot commented on #76
OK I'll let it finish and then discard changes (I am not sure to abort the build) or is it going to write to github and stuff?

[2022-06-03 21:26] Monkeymerlot commented on #76
I uncommented the progress bar and the build failed again.

[2022-06-03 21:27] ciozi137 commented on #76
Yeah it will write to GitHub. So you can just not push

[2022-06-03 21:28] Monkeymerlot commented on #76
Patrick Build or the Normal Build using VIPM?

[2022-06-03 21:39] ciozi137 commented on #76
I’m doing Patrick build

On Fri, Jun 3, 2022 at 5:28 PM Joseph Albro ***@***.***>
wrote:

[2022-06-03 22:52] ciozi137 commented on #76
Now I had the same Error 5000 that you had

[2022-06-03 23:02] Monkeymerlot opened #79 "Removal of IMAQ"
Hypothetically, it should be possible to program the functionality that everyone wants from IMAQ controls using a picture control. To abstract away the complexity, we could use a Q Control or make a special SMO for the Picture Control that will handle the events etc.

Here is how we could turn the array of values into a greyscale image:
![image](https://user-images.githubusercontent.com/37567672/1

[2022-06-03 23:46] ciozi137 commented on #76
Vipm build worked. Gonna try again from Patrick build

[2022-06-04 01:36] ciozi137 commented on #76
Release page updated

[2022-06-06 15:41] Monkeymerlot opened #80 "Write File Path to Configuration on Start up"
If you are prompted to choose files because they do not exist on startup, it doesn't get written to the configuration file after the choice was made.

Chosen Files:
![image](https://user-images.githubusercontent.com/37567672/172195336-ec2a89fd-a517-4490-8ac0-8fcd12334aba.png)

Configuration file:
![image](https://user-images.githubusercontent.com/37567672/172195492-c1f89def-5ac0-4132-9830-9665ad6e

[2022-06-06 17:36] ciozi137 commented on #76
OK awesome. I probably need to finish setting up the lockin on that
computer. ping me if you have trouble with it tomorrow. or if I didn't
finish setting everything up

On Mon, Jun 6, 2022 at 1:30 PM Joseph Albro ***@***.***>
wrote:

[2022-06-06 22:26] Monkeymerlot commented on #78
OK so I did some clean up and investigation. So I saw one fairly big issue and then I also added functionality to check if an event has been read, so we don't keep updating properties when they have already been updated. This cut down on the start up sequence by a lot... Still not perfect though.

New Start up sequence:
[code]

Problems before:

Dot settings was not unbundled and wired to state ma

[2022-06-06 22:32] Monkeymerlot commented on #78
Merged into develop [ad0ffb6](https://github.com/levylabpitt/AFM-Lithography/commit/ad0ffb68f2b2e0669a8e4f85c408ab1beaedbc65)

[2022-06-07 14:00] ciozi137 commented on #76
@Monkeymerlot  Fix for timeout? https://github.com/levylabpitt/build-support/issues/5#issuecomment-1148717146

[2022-06-17 18:06] Monkeymerlot commented on #80
This seems to be an issue with the executable rather than with the LV version as well.

[2022-06-17 18:10] Monkeymerlot opened #84 "Inconsistent Dot sizes in IMAQ control"
d0 looks smaller than the other dots??
![image](https://user-images.githubusercontent.com/37567672/174354171-98c50904-8dac-48c4-88ae-f6d1dc32e4a4.png)

Zoomed in looks better though:
![image](https://user-images.githubusercontent.com/37567672/174354249-16440431-b126-4ec3-8fcd-6135a0555034.png)

This might not be fixable as it seems to be an issue with IMAQ and not something that I am doing wrong..

[2022-07-12 16:56] Monkeymerlot opened #85 "Plugins"
ZMQ based plugin framework to add whatever functionality we want for dots.

[2022-07-12 16:59] Monkeymerlot opened #86 "Scripts"
This is to call in external code(?) without needing an SVG object. Not sure how to implement this quite yet with the existing system. Might have to wait until after the switch to SMOs as things should be a bit more flexible at that time. Could also be used to call in a bunch of commands in IGOR or LabVIEW like move tip totally off surface, turn on electromagnet, wait 10 minutes, turn of electromag

[2022-09-29 20:35] Monkeymerlot opened #87 "Voltage Offset Value"
Description:
When the voltage is amplified outside of the AFM, it can have some offset value that is not exactly zero due to imperfections in the voltage amplifier. @jlevylab has reported that when the tip is moving/set to zero, or otherwise when the value should be zero, it is actually a slightly negative value. This could be rectified with a control in the driver UI similar to the amplification

[2022-10-05 20:25] Monkeymerlot opened #88 "Dropped Dot"
![image](https://user-images.githubusercontent.com/37567672/194156529-e53da71a-85e6-461a-ae4e-adc7646056d4.png)
![image](https://user-images.githubusercontent.com/37567672/194156557-cc87aba6-1c01-45e9-8c6f-a182c97a4e88.png)

[2022-10-11 08:02] ciozi137 commented on #76
That looks correct

On Thu, Jun 2, 2022 at 9:46 PM Joseph Albro ***@***.***>
wrote:

[2022-10-11 15:39] Monkeymerlot commented on #76
@ciozi137 did you mean to comment on something else?

[2022-10-11 16:14] ciozi137 commented on #76
No I think I was responding to “ I scheduled time tomorrow to get
everything setup on the cypher and hopefully take some data.”

On Tue, Oct 11, 2022 at 11:40 AM Joseph Albro ***@***.***>
wrote: